[2016-05-04 08:08] thakurpunk commented on #1350
@eparisio this is fine. but what we can do if we want some html content like buttons and text altogether? This one id good for simpler text.

[2016-05-04 08:13] eparisio commented on #1350
you can add any html inside, you are not restricted to text or paragraph.

you can do

[2016-05-04 08:14] thakurpunk commented on #1350
@eparisio have you done something like this before? can I see some example

[2016-05-04 08:16] eparisio commented on #1350
there is the fiddle in the example before, you can play with it!

[2016-05-04 08:33] LaurentSEO opened #1375 "How can I have 1 item for all screen ?"
Hi,

Here is my code:
         $(document).ready(function() {
			$("#carrousel").owlCarousel({
				items:1,
   				loop:true,
				navigation : false, // Show next and prev buttons
				autoPlay: true,
				slideSpeed : 300,
				paginationSpeed : 400,
				pagination : false
			});
		  });

My problem is that when the screen is less than about 1200px, the all 5 items are displayed (very small) instead

[2016-05-04 09:16] mtomov opened #1376 "Swipe continious scroll & deceleration on mobile devices"
Hello,

just wondering if the carousel can be swiped and it will scroll like scrolling a page with touch gestures?

I did not see it in the options, so I guess no, but if you could give me some direction as to where in the JS that would should go if I were to do it?

Thank you!

[2016-05-04 13:56] luizfilipe2557 opened #1377 "Carousel Navigation for Carousel"
Owl doesn't have and "sync with carousel $x" funcionality, while others like _Slick Slider_ (go to [Slick docs](http://kenwheeler.github.io/slick/) and look for "Slider Syncing") have.

In hash navigation we can do something realy close to this, but it's not the same thing. Sync two carousels with event listenners is not good for the code maintenance.

If I'm making a duplicate sorry, I could not

[2016-05-04 14:31] EroTiXx commented on #1079
@Madison80 Thanks, it's work

[2016-05-04 14:32] luizfilipe2557 commented on #1377
Code for **[example one](http://vertx.com/edc-transit-sling)**:

[code]

[2016-05-04 14:41] luizfilipe2557 commented on #1350
@thakurpunk, f you have some time, take a look on: #1377

[2016-05-04 17:33] thakurpunk commented on #1350
thanks @eparisio :)

[2016-05-04 18:18] luizfilipe2557 commented on #1350
@thakurpunk at this moment I'm writing a plugin to sync the carousels until nobody add this funcionality to Owl. I will post the source code soon.

[2016-05-04 18:54] tonykiefer commented on #1350
Most recently someone posted the way they sync two carousels...take a look here

https://github.com/OwlCarousel2/OwlCarousel2/issues/1377#issuecomment-216883486

[2016-05-04 18:57] tonykiefer commented on #1350
@thakurpunk - until they add the dual synced carousels I think they just expect us to customize the code ourselves and help each other.  So far so good.  This is a good community with a lot of great ideas.

[2016-05-04 19:09] tonykiefer commented on #1350
@thakurpunk please see the attached.  For styling...you'll need to write your own.

@luizfilipe2557 it looks like we both had the same resources...nice work on your code...feel free to review mine...also a live version...http://vertx.com/edc-transit-sling

I'll be launching another site where I use dots for the nav...I'll be posting that come the 18th

[Dual Sync Carousel.txt](https://github.com/O

[2016-05-04 19:57] elienemb commented on #1236
Hello @logopogo , did you fix this?

I have same problem =/

[2016-05-04 20:29] luizfilipe2557 commented on #1377
The plugin v1 code is here. Contribute, enjoy and don't forget to credit the source, so that more people get here and contribute even more.

    /**
     * @author Luiz Filipe Machado Barni <luizfilipe2557@gmail.com> <@luizfilipe2557>
     *
     * Inspired by @tonykiefer's script in http://vertx.com/edc-transit-sling
     *
     * @see https://github.com/OwlCarousel2/OwlCarousel2/issues/1350

[2016-05-04 20:30] luizfilipe2557 commented on #1350
Hey everyone, plugin to sync the carousels is ready. Take a look on Issue #1377 in [this comment](https://github.com/OwlCarousel2/OwlCarousel2/issues/1377#issuecomment-216992946).

[2016-05-04 23:43] logopogo commented on #1236
Hi Eliene. This is as far as I got with a solution:
http://codepen.io/logopogo/pen/MyZoxM

The carousel now triggers on each initial tab change, but on returning to a previously triggered tab the carousel doesn't restart.

I think it has something to do with the owl.carousel event already having been bound to the element, but I'm not sure how to resolve it at the moment.

[2016-05-05 00:30] mdeboer commented on #1350
@luizfilipe2557 works great, thanks 👍

Only bug I still have (with my own syncing code and with your plugin) that the index is completely off between sliders when set to loop. Still not sure wether it is due me cloning the slider element (before initializing owl) or it's really a bug somewhere. All works fine without looping!

Both the event's item.index as jQuery(this).index() are both off (and b

[2016-05-05 00:59] luizfilipe2557 commented on #1350
@mdeboer I found the problem that generates the bug. I will be working on it soon, my first idea is to set data-index on the slides that represents the exhibition index and order when the carousel is in loop and use this data-index instead of element index. I will create a branch for it and describe the problem so that users like you and me can work on it.

Thanks for the feedback, really apprecia

[2016-05-05 02:09] mdeboer commented on #1350
@luizfilipe2557 that was my idea too but for some reason that didn't work too well. At least not when setting it before initializing owl. Haven't tried for very long though, haven't got much time for this project and worked my way around this time.

Yet, a solution would be very nice! 👍

[2016-05-05 02:14] luizfilipe2557 commented on #1350
@mdeboer I don't have much time too, but together with git we can make it by small steps, even because the core of the plugin is ready! :smile:

[2016-05-06 05:03] daviddeutsch commented on #1377
Hi @luizfilipe2557 - Thanks for sharing your solution!

I'm currently working on another solution, though - one that lets you link unlimited owl instances and that is implemented in a native plugin.

[2016-05-06 05:03] #1377 closed

[2016-05-06 05:08] daviddeutsch commented on #1031
(Sorry about the canned reply.)

This is a very old request and as mentioned in #1307, taking over this repo, I cannot go through the entire backlog and selfishly assume you have either found a solution or moved on in the meantime.

If you still have an issue that you think is due to a bug, please do open a new ticket. When you do, please add a live code example where I can check out your problem.

[2016-05-06 05:08] #1031 closed

[2016-05-06 05:18] daviddeutsch commented on #1350
As noted in the other thread - there is a core plugin for this (linking owl instances) in the works.

[2016-05-06 05:18] daviddeutsch commented on #1376
Yes, you currently can swipe through the carousel. Just check out the demos to give it a try!

[2016-05-06 05:18] #1376 closed

[2016-05-06 05:19] daviddeutsch commented on #1374
I have it working in my test environment where I specifically use it in a bootstrap modal.

(Sorry about the partly canned reply.)

Please add a link to a page where I can verify this error. You can use a service like [plnkr](https://plnkr.co/), [jsfiddle](http://jsfiddle.net/), [jsbin](http://jsbin.com/) or [codepen](http://codepen.io/).

[2016-05-06 05:21] daviddeutsch commented on #1365
Yup, I have already prepared the switch, but have to finish the other features in Gulp, first. Check out the branch `feature/1330-move-to-gulp` if you're curious about the progress.

[2016-05-06 05:21] #1365 closed

[2016-05-06 06:53] daviddeutsch commented on #1375
(Sorry about the canned reply.)

Please add a link to a page where I can verify this error. You can use a service like [plnkr](https://plnkr.co/), [jsfiddle](http://jsfiddle.net/), [jsbin](http://jsbin.com/) or [codepen](http://codepen.io/).

[2016-05-06 06:56] st2xo commented on #1374
David, at first thanks for your reply and of course for your work with owl! My project is not public yet so it (ort parts) cannot be uploaded for testing. I will check it again with a bootstrap from scratch.

[2016-05-06 10:25] thakurpunk commented on #1350
@tonykiefer and @luizfilipe2557 Thanks, I have created one using suggested codes, you can see it http://mylkshake.co/mylshaketv/ just review and do let me know how is it.

[2016-05-06 11:16] luizfilipe2557 commented on #1377
Oh, hello @daviddeutsch, thanks to @eparisio we could get this in [version two](https://github.com/luizfilipe2557/owlcarousel-sync-plugin/tree/version-2) (https://github.com/luizfilipe2557/owlcarousel-sync-plugin/tree/version-2), we made the plugin as a "native plugin", I would be very happy if you could join us to make it better. :smile:
<hr>
- [V2.2 Plugin example 1 (jsFiddle)](https://fiddle.js

[2016-05-06 11:22] luizfilipe2557 commented on #1350
Hllo guys, as I said in #1377 thanks to @eparisio we could get this in [version two](https://github.com/luizfilipe2557/owlcarousel-sync-plugin/tree/version-2) (https://github.com/luizfilipe2557/owlcarousel-sync-plugin/tree/version-2), we made the plugin as a "native plugin", I would be very happy if you all join us in this development. :smile:
<hr>
- [Sync Plugin: Master Branch (V1)](https://githu

[2016-05-06 11:39] thakurpunk commented on #1350
@luizfilipe2557 have you reviewed mine?

[2016-05-06 11:51] luizfilipe2557 commented on #1350
@thakurpunk Yeah! Your code is very very close to my **v1** code. Just like me and the people who helped me you don't have loop:true feature too, what makes it closer to our **stable** code. Feel free to work on our code too!
<hr>
Take a look: https://github.com/luizfilipe2557/owlcarousel-sync-plugin/blob/master/owl.sync.js
Take a look on **V2** too :smile:  : https://github.com/luizfilipe2557/owl

[2016-05-06 12:41] daviddeutsch commented on #1374
Yeah, it should definitely work. Let me know when you have a test set up!

[2016-05-06 13:01] daviddeutsch commented on #1377
@luizfilipe2557 There are two things that I object to in this implementation - keeping an internal index (I prefer explicitly handling bubbling to prevent endless recursion) and mixing in the indicator stuff. I understand there is a need to keep a consistent "focus" element, but in my approach, that's a separate plugin that I want to put in. Also - I'm not sure what you use the extra options for,

[2016-05-06 13:04] daviddeutsch commented on #1372
You could attach the class to the div.item that your content sits in and then transfer it to the parent div.owl-item via javascript.

[2016-05-06 13:04] #1372 closed

[2016-05-06 13:08] daviddeutsch commented on #1370
@andylobel was working just fine for me. What browser do you have issues with?

[2016-05-06 13:09] thakurpunk commented on #1350
thanks @luizfilipe2557

[2016-05-06 13:12] daviddeutsch commented on #1355
Thanks @tonykiefer - Precisely, this is done via your own owl-theme.

[2016-05-06 13:12] #1355 closed

[2016-05-06 13:12] daviddeutsch commented on #1356
Yup, can confirm. This should just work.

[2016-05-06 13:12] #1356 closed

[2016-05-06 13:12] daviddeutsch commented on #1358
Agreed, if your images are small, you need a custom style to not have them full-width.

[2016-05-06 13:12] #1358 closed

[2016-05-06 13:18] luizfilipe2557 commented on #1377
@daviddeutsch As you can see [**here**](https://fiddle.jshell.net/odahcam/g0svqczz/), the only way of showing the user what is the "in focus" slide is to add a class on it and style in a different way from the other slides, close to what happens with the dots navigation.

I forgot that this class would be added even when the Sync is not set, so we have a Issue here.

[2016-05-06 15:08] eparisio commented on #1377
@daviddeutsch hi, there is some question about your gist, it's an interest solution but i think the it's only the starting part.
I made a new [gist](https://gist.github.com/eparisio/6ed9d6fd37f964796314719e57763dac) to show the clean solution that i develop. if you have question about some part ask without problems.
The additional class i think is optional but in some case can be necessary to add

[2016-05-06 16:51] daviddeutsch opened #1378 "Linked OwlCarousel instances"
This seems to be one of the most requested features that pops up again and again. I'm creating this issue as a new, canonical item that I can link other issues to when I'm closing them.

[2016-05-06 17:16] luizfilipe2557 commented on #1377
@eparisio your solution fails when one carousel have more items on screen than the other. E.g.: if you have a main carousel with 1 item per slide positioned in slide 5 and a nav carousel with 3 items per slide, the nav carousel will have the `.owl-linked` in the slide 3. This is an error that we don't have here: https://fiddle.jshell.net/odahcam/q7jsLk93/

[2016-05-06 17:42] ensemblebd opened #1379 "Pull Request: typeof(stagePadding) === 'function'"
Am wanting to submit a pull request, with your pre-authorization to do so. This is to convert the stagePadding read operations to check if it's a function, and if so - call it.

This allows one to create a fully responsive staged owl carousel, that can have any width desired, with appropriate stagePadding given the resolution.

Example change for read ops:
`((typeof(this.settings.stagePadding)==='

[2016-05-06 18:40] theskillwithin commented on #293
+1

[2016-05-06 19:09] tcelestino commented on #1298
I have to some problem. :sob:

[2016-05-06 19:11] brunoaugusto opened #1380 "Vertical Alignment"
I tried several approaches, using CSS only and with JS, trying to align the carousel in the middle of screen without much success.

The [first approach](http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/), in an isolated scenario, with a very simple structure (DIV > DIV > IMG) works flawlessly, but if applied to the implemented Owl sends images 50% above the viewport ([like t

[2016-05-06 19:12] madmunsterdaddy commented on #1080
same issue

[2016-05-06 19:45] nickmeagher commented on #461
@mike-source This has fixed my issue as well! Thanks for the solution. Very weird that this happens though.

[2016-05-06 21:07] daviddeutsch commented on #1377
Sorry, but I think I still favor my solution. The main reason is that it's not working with other options (try setting loop to true).

I've opened a [new issue for this](https://github.com/OwlCarousel2/OwlCarousel2/issues/1378), feel free to chime in there once I push the code.

[2016-05-06 22:17] daviddeutsch commented on #1378
While I'm finishing this up, you can already find the current code here: [feature/1378-linked-owls/src/js/owl.linked.js](https://github.com/OwlCarousel2/OwlCarousel2/blob/feature/1378-linked-owls/src/js/owl.linked.js).

To use it, simply load the plugin in your markup and add
[code]
to the options you pass in.

(Note that it supports multiple carousels.)

[2016-05-06 22:18] daviddeutsch commented on #1213
Check out this issue: [issues/1378 - Linked OwlCarousel instances](https://github.com/OwlCarousel2/OwlCarousel2/issues/1378)

[2016-05-06 22:18] daviddeutsch commented on #580
Check out this issue: [issues/1378 - Linked OwlCarousel instances](https://github.com/OwlCarousel2/OwlCarousel2/issues/1378)

[2016-05-06 22:18] #580 closed

[2016-05-06 22:19] daviddeutsch commented on #1262
Check out this issue: [issues/1378 - Linked OwlCarousel instances](https://github.com/OwlCarousel2/OwlCarousel2/issues/1378)

[2016-05-06 22:19] #1262 closed

[2016-05-06 22:19] daviddeutsch commented on #1172
Check out this issue: [issues/1378 - Linked OwlCarousel instances](https://github.com/OwlCarousel2/OwlCarousel2/issues/1378)

[2016-05-06 22:19] #1172 closed

[2016-05-06 22:19] daviddeutsch commented on #691
Check out this issue: [issues/1378 - Linked OwlCarousel instances](https://github.com/OwlCarousel2/OwlCarousel2/issues/1378)

[2016-05-06 22:19] #691 closed

[2016-05-06 22:21] daviddeutsch commented on #1378
Also note: There is a separate plugin I will add later called `Current` that will make it possible to have a dedicated `.current` class to denote the slide that is currently in focus and also attach click events to convert a thumbnail carousel into a gallery-type navigation.

[2016-05-06 22:21] daviddeutsch commented on #1368
Check out this issue: [issues/1378 - Linked OwlCarousel instances](https://github.com/OwlCarousel2/OwlCarousel2/issues/1378)

[2016-05-06 22:22] daviddeutsch commented on #1244
(Sorry about the canned reply.)

Please add a link to a page where I can verify this error. You can use a service like [plnkr](https://plnkr.co/), [jsfiddle](http://jsfiddle.net/), [jsbin](http://jsbin.com/) or [codepen](http://codepen.io/).

[2016-05-06 22:22] daviddeutsch commented on #1225
Check out this issue: [issues/1378 - Linked OwlCarousel instances](https://github.com/OwlCarousel2/OwlCarousel2/issues/1378)

[2016-05-06 22:22] #1225 closed

[2016-05-06 22:24] daviddeutsch commented on #80
Check out this issue: [issues/1378 - Linked OwlCarousel instances](https://github.com/OwlCarousel2/OwlCarousel2/issues/1378)

[2016-05-06 22:25] daviddeutsch commented on #1200
@fe-rod would love to see a PR here that I can test!

[2016-05-06 22:26] #382 closed

[2016-05-06 22:26] daviddeutsch commented on #926
Check out this issue for a solution: [issues/1378 - Linked OwlCarousel instances](https://github.com/OwlCarousel2/OwlCarousel2/issues/1378)

[2016-05-06 22:32] daviddeutsch commented on #1380
I'm currently preparing a plugin for in-slide zooming via panzoom and came across the same issue.

I think your snippet could be converted into a "center slide content when not 100%-width/height" plugin. Would you be interested in working on that and submitting a PR?

[2016-05-06 22:34] daviddeutsch commented on #1379
Would you mind putting together a jsfiddle (or similar) with a custom owl plugin with your changes (preferably with a comment to mark what you changed)? Would love to check this one out!

[2016-05-06 22:37] dallanlee opened #1381 "AutoHeight Carousel Not Showing In IE 11"
[On this site](https://biomane.com/), on that home page, the OwlCarousel doesn't even show up in IE 11. The reason is because the autoHeight is not calculating with the images so it's only 1px in height. The carousel shows up and works great in the other browsers I have tested. Instead of loading the carousel on `document ready`, I am using this `window load` (`jQuery(window).load(function ($)`).

[2016-05-06 22:37] odahcam commented on #1377
@daviddeutsch Try setting center to false, it's awesome that your carousel works with loop, but I found two problems:

1. `center: false` disables the linking
2. When you have a `loop: true` carousel and a `loop: false` carousel, when the `loop: true` carousel achieves the end, both go back to the start, but when in the first slide you drag left the `loop: true` carousel (last slide in loop), it s

[2016-05-06 22:38] daviddeutsch commented on #1352
(Sorry about the canned reply.)

Please add a link to a page where I can verify this error. You can use a service like [plnkr](https://plnkr.co/), [jsfiddle](http://jsfiddle.net/), [jsbin](http://jsbin.com/) or [codepen](http://codepen.io/).

And make sure you're using the latest Owl Version!

[2016-05-06 22:45] daviddeutsch commented on #1377
@odahcam
1. You're using the old version of the code where I didn't have a bug cleared up. It was actually the `items: 1` that disabled the linking.
2. I think what you have there is the expected behavior - a non-looped carousel *should* jump back. Perhaps I'm not really understanding your issue correctly, though.

I'd love for you to help out find and perhaps even resolve any outstanding issues -

[2016-05-06 22:52] brunoaugusto commented on #1380
Unfortunately I'm not very good in JS. I can work my way out with jQuery but specific features or tweaks I occasionally have to look around for someone else's solutions.

In this meanwhile, though, I sort of figured why this JS was so messed up: the dynamically generated image modas weren't receiving width/height as they should.

[2016-05-06 23:07] odahcam commented on #1377
@daviddeutsch If you saw my example, with [this explanation](https://jsfiddle.net/odahcam/09prv7ap/) you will understand. I know it's outdated, but I'll use it for illustration purpouses.

1. Load the page, run the code in jsFiddle if necessary.
2. Using the nav carousel (on bottom), try to navigate to slide nº5 right on the left side of the slide nº1.
2.1 The carousels will slide to slide nº2. **

[2016-05-07 00:36] ensemblebd commented on #1379
https://jsfiddle.net/5bu9f7h5/53/

Did my best to document it and keep it clean. :)

[2016-05-07 01:31] ensemblebd commented on #1381
probably better to let the pro's answer this, but I did find that if I added css, i could get it to at least show. So I think the problem is css related.

[code]

[2016-05-08 05:37] dioogbento commented on #1306
I know it's been closed but, @dallanlee how would you destroy / do not initiate the OwlCarousel on larger screens?

Thanks in advance.

[2016-05-08 16:39] swannknani commented on #485
+1

[2016-05-09 01:42] #1373 closed

[2016-05-09 04:27] daviddeutsch commented on #485
@swannknani - do you mean this bug has resurfaced? The last answer from @greg5green was that it was fixed.

[2016-05-09 06:57] synnz commented on #438
have some problem too

[2016-05-09 08:19] #355 closed

[2016-05-09 09:20] andron81 opened #1383 "google chrom bags"
Your plugin very much. however, have a problem in Google Chrome.
When we begin to change the width of the browser montaut here are the bugs :
![1](https://cloud.githubusercontent.com/assets/5709002/15108731/38736e3a-15e0-11e6-8ffd-2af1c82d259b.jpg)
![2](https://cloud.githubusercontent.com/assets/5709002/15108730/3872f9a0-15e0-11e6-8a14-bc62a5358c6c.jpg)

[2016-05-09 09:22] andron81 commented on #1383
P.S.
You can see in this :
[link](http://lead100gram.ru/4.html)

[2016-05-09 12:24] RobertWalter83 opened #1384 "Chrome: transparent colors not displayed correctly"
Hi,

In Chrome, transparent colors are not shown correctly (while, for example, Edge and FF show them just fine).

I setup the carousel like so:

[code]

On each item, I want to display a "tab-like" top row, like so:

[code]

with the css:

[code]

This works fine for the first slide, even under Chrome. However, the background color for the tab on the second slide (with basically the same HTML, on

[2016-05-09 12:24] daviddeutsch commented on #1383
Please try to recreate the error in a dedicated jsfiddle (or similar). I cannot even make out the error in my own chrome, so recreating this would simply take too much time on my end, sorry.

[2016-05-09 12:26] daviddeutsch commented on #438
@pe6o, @Shaker-Hamdi, @notsu or @synnz - could somebody set up a new jsfiddle with the latest version so I can test this?

[2016-05-09 12:27] daviddeutsch commented on #1345
Yeah, the minified css theme files are bonked. Need to wait until #1330 is done.

[2016-05-09 12:46] tonykiefer commented on #1345
@JeffroDH...the location of the nav; dots or text...is just a styling issue

[2016-05-09 12:47] daviddeutsch commented on #1384
(Sorry about the canned reply.)

Please add a link to a page where I can verify this error. You can use a service like [plnkr](https://plnkr.co/), [jsfiddle](http://jsfiddle.net/), [jsbin](http://jsbin.com/) or [codepen](http://codepen.io/).

And make sure you're using the latest Owl Version!

[2016-05-09 12:53] daviddeutsch commented on #1335
@hvsh in the meantime, this occurred in another, related issue and I have since recreated it in the demo pages. The Basic demo suffices - dragging back to slide 10 after loading triggers the incorrect behavior reliably.

[2016-05-09 12:56] daviddeutsch commented on #1335
It seems to only be checking for the relative id, not the absolute one, probably a simple fix...

[2016-05-09 13:24] RobertWalter83 commented on #1384
this is a jsfiddle that reproduces the issue for me: https://jsfiddle.net/og7ee99s/34/

Make sure the result area is wide enough so that the slides are not stacked and that you navigate to the second slide, where the issue occurs.

[2016-05-09 13:27] RobertWalter83 commented on #1384
Wow, okay, I just realized that it has to do with me changing the style of the row class.
When I remove this styling, it works fine:

[code]

Does this makes sense to somebody?

[2016-05-09 13:36] hvsh commented on #1335
Hey David, apologies for not getting back, I have been a little busy with some work. Okay great you were able to recreate the issue, If I can help let me know.

[2016-05-09 13:36] hvsh commented on #1346
@Uranbold I think you are looking for refresh.owl.carousel and refreshed.owl.carousel

[2016-05-09 13:48] hvsh commented on #1363
@florianmatthias @tonykiefer @SaintPepsi

.owlCarousel({
items:3,
**responsive : {
    // breakpoint from 0 up
    0 : {
        option1 : value,
        option2 : value,
        ...
    },
    // breakpoint from 480 up
    480 : {
        option1 : value,
        option2 : value,
        ...
    },
    // breakpoint from 768 up
    768 : {
        option1 : value,
        option2 : value,

[2016-05-09 14:39] joeyquarters opened #1385 "Feature Request: Add !default flag to theme SCSS variables"
When including the SCSS files into a project, it would be nice to just override the colors with a simple variable declaration instead of overriding the resulting CSS. We can do this by adding the `!default` flag for all SCSS variables in the default theme file. E.g. :

_Default owl carousel theme_
[code]

_Project SCSS file_
[code]

I would be more than happy to submit a pull request if you would

[2016-05-09 14:48] lenamtl opened #1386 "Question about settings and speed with Lazyload and pause"
Hi,
I don't know what I'm doing wrong but I'm not able to slow down the carousel.
The problem I'm having is when using Lazyload sometimes it's take time to load the image so there is no image (blank) and when the image appear it's does not stay long and slide to the next image.

How to calculate smartSpeed?

Is there any other settings that affect the speed and how it's work?

All image links poin

[2016-05-09 14:58] lenamtl commented on #1267
+1

[2016-05-09 15:20] rpelorosso opened #1387 "AutoPlay by page and not by item"
Hi!

 Is there a way to make auto play slide by page and not by item?

Thanks!
Rodrigo

[2016-05-09 16:25] dallanlee commented on #1306
@dioogbento I create a function to contain my OwlCarousel options and settings and then call it on applicable screen size on load and after resize.
i.e.
[code]
Something to that effect. And in the CSS, of course, use media queries to change display properties when needed.

[2016-05-09 16:43] dioogbento commented on #1306
@dallanlee Thank you for taking the time to reply. You've been very useful!

[2016-05-09 17:21] dallanlee commented on #1306
@dioogbento You're welcome. Glad to help.

[2016-05-09 17:25] dallanlee commented on #1381
@daviddeutsch I'm still looking for some help with this..

[2016-05-09 20:06] andron81 commented on #1383
you see bugs in http://lead100gram.ru/4.html

[2016-05-09 20:36] dougbanville commented on #1236
I have the exact same issue also, wondering if you managed to get it around it?

[2016-05-10 01:39] JeffroDH commented on #1345
@tonykiefer I understand that, and have created a style that works for me, but nonetheless it's broken in the current version.

@daviddeutsch Thank you, can this be flagged as a duplicate to anything?

[2016-05-10 02:55] odahcam commented on #1378
@daviddeutsch Is there any issue/repository where I can follow the `Current` plugin development? Thanks in advance!

[2016-05-10 06:45] sujithkris opened #1388 "Not aligned properly in bigger screen with less items"
The carousel items are left aligned in desktops when there are only 1 or 2 items.

[2016-05-10 09:50] alexandrelapoux commented on #1378
Thanks David, this new plugin work very well.
I use loop, auto, thumbs, matchHeight and current class :
sync2.on('initialized.owl.carousel', function () {
			sync2.find('.owl-item').eq(0).addClass('current');
		})
All works very well.
Many thanks.

[2016-05-10 11:37] RobertWalter83 commented on #1384
So, while it is true that, for above example with two slides, removing the .row styling makes the problem go away, I just realized that it re-appears when I add a third slide:
https://jsfiddle.net/og7ee99s/35/

So, there might not be a direct relation between the .row styling and the issue.

Interestingly enough, and maybe for someone with more knowledge about Carousel another clue: Using the most

[2016-05-10 11:56] daviddeutsch commented on #1383
yeah, a jsfiddle would definitely help.

[2016-05-10 12:00] adnanmasd opened #1389 "RTL and CENTER not working properly"
I have tested in Owl Carousel v2.1.0 that when center and RTL are set to true it doesnot put the item in the center. The item is shifted left one item. Please fix the issue.

http://codepen.io/anon/pen/mPKKQK

[2016-05-10 12:01] #1333 closed

[2016-05-10 12:49] #1385 closed

[2016-05-10 12:51] daviddeutsch commented on #1385
Dang, missed that last sentence of yours! Anyhow - great suggestion, thanks! Implemented!

[2016-05-10 13:15] mike-source commented on #480
Still an issue

[2016-05-10 14:39] rpelorosso commented on #1387
It was pretty simple, just using the following options:

`slideBy : "page",
autoplay:true,`

worked as expected.

[2016-05-10 14:40] #1387 closed

[2016-05-10 17:32] Baranov74 opened #1390 "LOOP and CENTER not working properly"
I have tested in Owl Carousel v2.1.0 that when CENTER and LOOP are set to true.

At shift of an element a mouse the roundabout sometimes slips and exposes on the center absolutely other element.

The elementary example a roundabout from eight elements with display on the screen of five elements. If to shift the first element a mouse to the left, then the roundabout will be scrolled and on the cent

[2016-05-10 17:33] odahcam commented on #1378
@alexandrelapoux try this:

[code]

instead of this:
[code]

@daviddeutsch the plugin isn't triggering the `linked.to.owl.carousel` on startup, it should trigger this event since when the carousels are initialized the plugin links them. In fact even `initialized.owl.carousel` is being triggered on startup here.

[2016-05-10 17:35] andron81 commented on #1383
[jsfiddle](https://jsfiddle.net/andron81_81/s8c973dn/1/#&togetherjs=P53kKhwAJU)

try to resize the width of the result - screen (google chrome)

![image](https://cloud.githubusercontent.com/assets/5709002/15156226/b634a866-16ee-11e6-975d-785f67217522.png)

[2016-05-10 19:34] swannknani commented on #1361
+1

[2016-05-11 07:49] andron81 commented on #1383
sorry . see this - [example](https://jsfiddle.net/andron81_81/xaqd24j7/)

[2016-05-11 11:32] alexandrelapoux commented on #1378
Hi David,

Many thanks works like a charm.

I use linked with the loop on both carousel (items param : 1item on first and 4 items on second).
I do a click event on the second carousel.
I need to stop the loop on the second carousel if there is less than 4 items, i do that, that's work :

[code]

[2016-05-11 14:28] nuflowx commented on #172
When setting stagePadding it does so on the left on the right. Is it possible to only set it for the right side?

[2016-05-11 14:36] dleffler opened #1391 "Release does NOT contain updated distributables"
v2.1.2 & v2.1.3 releases contain the v2.1.1 distribution files and the necessary themes are empty and then only minified

[2016-05-11 14:52] nuflowx commented on #172
You can just set `padding-left: 0 !important` in your CSS file

[2016-05-11 17:12] lianee commented on #1357
the problem is the 2 files

should be named:

for grunt to be able to properly build the themes (Gruntfile.js lines 100/101)

[2016-05-12 00:16] theskillwithin commented on #293
using freedrag or loop is not a solution to this if the client does not want it to loop.    freedrag doesn't work either it just lets you kinda while holding it down see that there is more but when u let go it will bounce back.

[2016-05-12 04:49] vorbe commented on #1291
I'm also getting this issue, but it looks like only when lazy load is set to true:

Here's an example:

http://codepen.io/okconsumer/pen/yOwQXP
Two videos within the carousel first being vimeo, second being youtube, youtube thumb seems fine.

There is a difference in output:

When lazy-load is false:
<div class="owl-video-tn" style="opacity:1;background-image:url(https://i.vimeocdn.com/video/56767

[2016-05-12 06:21] johnson0606 opened #1392 "After append coudnt refresh the new added dynamic image"
Hi, currently facing a issue when i have owl carousel running with the script below and its working fine when i load the website. HOwever after i started to add a new image on the owl carousel using append function, it seems the carousel didn;t refresh the new image into it.

And i have tried dynamically added in a new image via append also but run the script below after added the new image, then

[2016-05-12 06:44] andron81 commented on #1383
you saw my last post ?

[2016-05-12 08:29] billyang123 opened #1393 "there has no funtion in Zepto.js,as andself"

[2016-05-12 12:47] quadrifoliumclover commented on #1034
Replacing the Navigation Plugin code with 2.1.0 version might solve the problem.

[2016-05-12 13:08] daviddeutsch commented on #1393
Sorry, but I have no idea what that is supposed to mean.

[2016-05-12 13:09] daviddeutsch commented on #1361
I know! Gah! npm really threw me for a loop there. I just published an update. Let me know if I messed up anything else npm related.

[2016-05-12 13:09] #1361 closed

[2016-05-12 13:22] daviddeutsch commented on #1049
thanks for the suggestion, @aihowes - didn't even notice that flag. It's removed now.

[2016-05-12 13:22] #1049 closed

[2016-05-12 13:55] Baranov74 opened #1394 "autoplayHoverPause not working properly"
Function works incorrectly in version 2.1.0
If to establish autoplayHoverPause:true
Version 2.0.0-beta.2.4
http://www.owlcarousel.owlgraphic.com/demos/autoplay.html - works correctly
Version 2.1.0
http://owlcarousel2.github.io/OwlCarousel2/demos/autoplay.html - Autoplay doesn't renew

[2016-05-12 14:31] pe6o commented on #438
Hi @daviddeutsch

First, thank you for continuing the work on OwlCarousel 2! It was sad seeing that it was canceled.

I've created a fiddle with the latest `dist` from github and it seems to be working correctly - http://jsfiddle.net/06vjpbzo/

[2016-05-12 15:11] soulcreate opened #1395 "Prefix fo scss variables"
Please add prefix for scss default variables, for example:
[code]

[2016-05-12 17:09] ignaciolarranaga opened #1396 "owl.theme.default.min.css is empty"
Check out the dist, the files are empty.

[2016-05-12 21:39] AdamXpelled opened #1397 "error showing after 5 slides"
first i want to thank you for this plugin, which is great. now, the problem i have is that when sliding the images, using stage padding, after the fourth or fifth slide it shows an error with the next image to the right. the problem is that it doesn't show the image, so there's a hole in the right side. it corrects itself after sliding again, but it doesn't look right. i'm adding the site where yo

[2016-05-12 21:52] gslsouza commented on #1393
# 1219

[2016-05-12 23:17] er777 opened #1398 "Click Drag on desktop"
Such a great slider. Can we get click and drag of individual slides on laptop/desktop browsers?

[2016-05-12 23:42] JohnBabenko commented on #1291
Oh, tnx, bro!

[2016-05-13 07:57] ikandee commented on #597
I too have this issue... hopefully this will be resolved.

[2016-05-13 09:06] daviddeutsch commented on #1395
Already done, check #1385

[2016-05-13 09:06] #1395 closed

[2016-05-13 10:54] franzip commented on #1396
I am also experiencing this problem.
Running `grunt dist` does not solve the problem since owl.theme.default.min.css is still empty.

[2016-05-13 12:15] thhomas commented on #1396
Same for me, file empty

[2016-05-13 23:41] esstonia commented on #1242
use the javascript owl.carousel.js from development and it will work can look my demo site http://boatworld.e-sstonia.ee

[2016-05-14 04:25] soulcreate commented on #1395
But if I use variable $color-base in my scss environment it go to config owl scss!
please rename varibles $color-base and etc to add prefix, for example:
[code]

[2016-05-15 16:28] nikolaybobrovskiy opened #1399 "Window binding (window.Zepto || window.jQuery) prevents from https://github.com/webpack/imports-loader usage"

[2016-05-15 17:18] lianee commented on #1396
see #1357 to build with grunt

[2016-05-16 08:12] CracyCrazz commented on #1396
Hey guys,

this error will be fixed once we migrated from grunt to gulp in the next few days.

I'll be pushing a hotfix later.

David renamed the theme files in order to follow the sass conventions, but that breaks the sass compiler as its seeing those theme files as partials. A fix for this is to create the owl.theme.*.scss files and include the according partials.

Stay tuned.

[2016-05-16 12:19] andron81 opened #1400 "little problems"
[jsfiddle](https://jsfiddle.net/andron81_81/xaqd24j7/)

please consider my problem. When you first start everything works. But when you change the width of the browser we can see the bugs.

![image](https://cloud.githubusercontent.com/assets/5709002/15289150/d7c44c96-1b78-11e6-9903-ccf3a7150539.png)

[2016-05-16 12:20] #1383 closed

[2016-05-17 10:07] daviddeutsch commented on #1383
I couldn't open the jsfiddle (it asked me for a collaborate mode, which I denied). You closed this in the meantime. Would be nice if you had mentioned whether (and how!) you resolved your issue. Thanks!

[2016-05-17 10:54] #1164 closed

[2016-05-17 10:54] #1158 closed

[2016-05-17 10:55] daviddeutsch commented on #1149
You forgot the `.owl-carousel` class.

[2016-05-17 10:55] #1149 closed

[2016-05-17 10:55] daviddeutsch commented on #1147
Yup.

[2016-05-17 10:55] #1147 closed

[2016-05-17 10:56] daviddeutsch commented on #1116
Check #1378

[2016-05-17 10:56] #1116 closed

[2016-05-17 10:57] daviddeutsch commented on #1123
(Sorry about the canned reply.)

Please add a link to a page where I can verify this error. You can use a service like [plnkr](https://plnkr.co/), [jsfiddle](http://jsfiddle.net/), [jsbin](http://jsbin.com/) or [codepen](http://codepen.io/).

And make sure you're using the latest Owl Version!

[2016-05-17 10:57] daviddeutsch commented on #1124
(Sorry about the canned reply.)

This is a very old request and as mentioned in #1307, taking over this repo, I cannot go through the entire backlog and selfishly assume you have either found a solution or moved on in the meantime.

If you still have an issue that you think is due to a bug, please do open a new ticket. When you do, please add a live code example where I can check out your problem.

[2016-05-17 10:57] #1124 closed

[2016-05-17 10:58] daviddeutsch commented on #1114
Hi @sebstck - Sorry about the long wait. Would love to check this out in a PR. Would you mind submitting one for this?

[2016-05-17 11:00] daviddeutsch commented on #1095
(Sorry about the canned reply.)

This is a very old request and as mentioned in #1307, taking over this repo, I cannot go through the entire backlog and selfishly assume you have either found a solution or moved on in the meantime.

If you still have an issue that you think is due to a bug, please do open a new ticket. When you do, please add a live code example where I can check out your problem.

[2016-05-17 11:00] #1095 closed

[2016-05-17 11:01] daviddeutsch commented on #1078
(Sorry about the canned reply.)

This is a very old request and as mentioned in #1307, taking over this repo, I cannot go through the entire backlog and selfishly assume you have either found a solution or moved on in the meantime.

If you still have an issue that you think is due to a bug, please do open a new ticket. When you do, please add a live code example where I can check out your problem.

[2016-05-17 11:01] #1078 closed

[2016-05-17 11:01] daviddeutsch commented on #1086
You simply need to include one of the themes... Or write your own (as you did).

[2016-05-17 11:01] #1086 closed

[2016-05-17 11:02] daviddeutsch commented on #893
(Sorry about the canned reply.)

This is a very old request and as mentioned in #1307, taking over this repo, I cannot go through the entire backlog and selfishly assume you have either found a solution or moved on in the meantime.

If you still have an issue that you think is due to a bug, please do open a new ticket. When you do, please add a live code example where I can check out your problem.

[2016-05-17 11:02] #893 closed

[2016-05-17 11:03] #856 closed

[2016-05-17 11:05] daviddeutsch commented on #511
(Sorry about the canned reply.)

This is a very old request and as mentioned in #1307, taking over this repo, I cannot go through the entire backlog and selfishly assume you have either found a solution or moved on in the meantime.

If you still have an issue that you think is due to a bug, please do open a new ticket. When you do, please add a live code example where I can check out your problem.

[2016-05-17 11:05] #511 closed

[2016-05-17 11:07] daviddeutsch commented on #518
This will be fixed with the switch to gulp #1330

[2016-05-17 11:07] #518 closed

[2016-05-17 11:08] daviddeutsch commented on #396
(Sorry about the canned reply.)

This is a very old request and as mentioned in #1307, taking over this repo, I cannot go through the entire backlog and selfishly assume you have either found a solution or moved on in the meantime.

If you still have an issue that you think is due to a bug, please do open a new ticket. When you do, please add a live code example where I can check out your problem.

[2016-05-17 11:08] #396 closed

[2016-05-17 11:10] daviddeutsch commented on #378
This needs to be fixed either with a custom theme or with a flexbox solution down the road (v2.5 or later).

[2016-05-17 11:10] #378 closed

[2016-05-17 11:10] #374 closed

[2016-05-17 11:11] #356 closed

[2016-05-17 11:12] daviddeutsch commented on #1400
I don't have any issues with this jsfiddle. Please let me know what browser is problematic for you.

[2016-05-17 11:12] daviddeutsch commented on #1398
Already works.

[2016-05-17 11:12] #1398 closed

[2016-05-17 11:13] #1396 closed

[2016-05-17 11:19] pflind opened #1401 "Does not work with flexbox"
The carousel overflows if you use flexbox, see [demo at codepen](http://codepen.io/anon/pen/QNRMyM).

**overflow: hidden** on **.owl-stage-outer** is not honored.

The ONLY browser that it works in is Safari.

Any ideas?

[2016-05-17 11:27] daviddeutsch commented on #1401
Check #1005 for progress on this. It'll arrive, eventually.

[2016-05-17 11:27] #1401 closed

[2016-05-17 11:30] daviddeutsch commented on #1399
Hi @nikolaybobrovskiy - Can you give any details on how to fix this?

[2016-05-17 11:31] daviddeutsch commented on #1219
@groie sure thing - just submit the PR and I'll get it in line!

[2016-05-17 11:31] daviddeutsch commented on #1393
See #1219

[2016-05-17 11:31] #1393 closed

[2016-05-17 11:33] nikolaybobrovskiy commented on #1399
Can `Zepto || jQuery` (without `window.`) condition be used?

[2016-05-17 11:37] sadikyalcin opened #1402 "Owl-loaded not triggering"
Similar issue here: [](https://github.com/OwlFonk/OwlCarousel/issues/368).

[code]

Display none causing a problem with one of my sliders. Should it not call owl-loaded once it has loaded?

`thumbnailCarousel: function() {
$('.owl-carousel2').owlCarousel({
items:4,
loop:false,
margin:10,
autoWidth: true
});
    var num_of_thumbs = $('.owl-carousel2').find('.item').length;
    var container_w = $('

[2016-05-17 11:39] pflind commented on #1401
Maybe you were closing this issue too fast. Flexbox is not used on the owl carousel but on a **parent** container. Actually, the parent container can be 10 levels higher and the problem still exists.

#1005 doesn't fix this bug.

[2016-05-17 11:49] andron81 commented on #1400
google Chrome.

[2016-05-17 12:05] andron81 commented on #1400
[video](https://www.youtube.com/watch?v=6gvwVIl_vt4&feature=youtu.be)
about 0:28 you can see glitch )))

[2016-05-17 12:05] daviddeutsch commented on #1402
(Sorry about the canned reply.)

Please add a link to a page where I can verify this error. You can use a service like [plnkr](https://plnkr.co/), [jsfiddle](http://jsfiddle.net/), [jsbin](http://jsbin.com/) or [codepen](http://codepen.io/).

And make sure you're using the latest Owl Version!

[2016-05-17 12:06] dwlamb opened #1403 "basing other divs on width of div's in carouself"
I love this plug-in and its way to present content in a horizontal method on a page.
Using the [basic demo](http://www.owlcarousel.owlgraphic.com/demos/basic.html) as an example, is there a method with or without JavaScript to give child div's of another parent  div below the carousel the same width, whatever the width of the carousel div's?

Thinking of the carousel as horizontal content and a mo

[2016-05-17 13:44] sadikyalcin commented on #1402
Problem is David, I don't really know what to post - it's a **chrome app** - so won't be much of a use to you the way I have coded it ( + company work (they won't be happy if I post "top secret" stuff online) ).

I have upgraded to the latest version. I've solved the problem by manually giving the 'owl-loaded' class but it's still might be an issue in terms of the plugin on your end.

If you're 10

[2016-05-17 20:32] showcasefloyd opened #1405 "dots no longer work"
I'm passing `dots:true` into the OwlCarousel object but I can't seem to get it to do anything.

[code]

[2016-05-17 20:38] showcasefloyd commented on #1345
I'm having a similar issue. I've verified that the Navigation.Defaults are set correctly.

[2016-05-18 11:15] daviddeutsch commented on #1405
(Sorry about the canned reply.)

Please add a link to a page where I can verify this error. You can use a service like [plnkr](https://plnkr.co/), [jsfiddle](http://jsfiddle.net/), [jsbin](http://jsbin.com/) or [codepen](http://codepen.io/).

And make sure you're using the latest Owl Version!

[2016-05-18 12:19] Bluxart opened #1406 "stagePadding Top/Bottom"
For now the stagePadding is only for left-right! Is possible add to Top/Bottom without change the core plugin?

Thanks

[2016-05-18 13:14] showcasefloyd commented on #1405
I think I figured out the problem. I downloaded the latest version from here, and then compiled default.theme SASS file and once I included that the dots reappeared. Also the API on the site is incorrect, since it appears that 'dots:true' doesn't actually work.

Anyhow, thanks for getting back to me. I do love this plugin! Great work.

[2016-05-18 16:56] rlburb commented on #1242
That worked great! But now my nav buttons are messed up. Is the development css different as well?

[2016-05-18 17:24] leighfarrell opened #1407 "jQuery 2.1.1 has known vulnerabilities"
The version of jQuery being used has known vulnerabilities causing the build process to fail:

[code]

Solution: update to a stable version of jQuery.

[2016-05-18 19:22] gemlarin opened #1409 "Objects Turning Into Black Boxes During Animation On FF42 - OSX"
**Bug:**
When using animate.css with OwlCarousel2 to change the default the animation type, the images or text just turns into a black box while Owl animates each slide into view. Once the animation is complete, the normal text or image changes from a black box into the normal text or image.

**Environment:**
Client: FF v42
OS: OSX 10.11.1

**To Reproduce:**
Set up an owl carousel that animates in

[2016-05-18 19:31] Bluxart commented on #547
The fix not work correctly.

[2016-05-18 20:56] knath632 opened #1410 "Image Loading problem"
In the firefox it seems to be okay but in the chrome browser first image placeholder is apperaing after that image is loading.

Please let me know how can I fix it. Lazyload is false.

[2016-05-18 21:41] robbieboy opened #1411 "HTML5 videos won't auto play or play at all."
Hi there,

I can't get the html video tag to function within Owl carousel. I've tried using the standard controls, autoplay and trigger play by javascript, but it just shows the first frame of the video and won't play.

` <div class="item">
                    <video autoplay muted loop id="myVideo" controls style="width:100%; height:auto;">
                        <source src="/pathtovideo.webm"

[2016-05-19 10:07] andreabrunato commented on #1410
Can you post an example? I had a similar issue, I suppose, and solved it by setting backface-visibility to "visible", like this:

`
.owl-item {
	-webkit-backface-visibility: visible;
	backface-visibility: visible;
}
`

[2016-05-19 14:44] jtrolle commented on #1378
It is too restricive if you do not have an id on your slider or several slider on the same page.
For more flexibility `linked` option must be able to receive a jQuery object.

Slider
[code]

Plugin
[code]
By this way, you can use class name, id or jQuery object

jsFiddle demo: http://jsfiddle.net/e3uarr7k/

[2016-05-20 03:32] junardoclarit opened #1412 "Autowidth having issue on iPad chrome browser.."
Hi,

We are having issue on the owl carousel that is set the autowidth to true, in ipad. we are using chrome browser. I think the owl-stage is not calculating properly the width base on how many owl-items on the owl carousel. And that causes the slider will wrap in two lines and causing our website having a white space.. Please have a look on the screenshot.

[Screenshot](http://vietkitchenhk.com/

[2016-05-20 05:29] denisinla commented on #553
This is still an issue when an there is only 1 item present in the carousel.

[2016-05-20 06:23] denisinla commented on #397
Nothing new here, I'm getting cloned content if there is only one item present.

[2016-05-20 13:49] 66zonta99 opened #1413 "LazyLoad don't work, when count of items less, than in option"
When I have count items in HTML (2) and set option in javascript (4), than load only one item

$(document).ready(function(){
            $("#owl-carousel").owlCarousel({
    items:4,
    lazyLoad:true,
    loop:true
              });
});

[2016-05-22 14:09] leaven commented on #1232
I've meet the same problem, when set **autoWidth** to true, in **nav** and **dots** can't find the last item.

[2016-05-22 15:36] Asinox commented on #438
loop: true and  items: 1 are not a good combination, if you remove "items: 1" works

[2016-05-23 08:30] isteven opened #1414 "Mouse drag up & down prevents auto-play from resuming. Bug?"
Thanks for creating this plugin; it's a life saver.

I recently found a bug where; if you click & drag your mouse on the auto-play carousel, it will stop the carousel and it will never resume. The only way to make it work again is by dragging left or right.

This can be reproduced even in the autoplay demo page; http://www.owlcarousel.owlgraphic.com/demos/autoplay.html. Even clicking the Play butt

[2016-05-23 14:47] Nur-jaman opened #1415 "How can i use loop:true, and items:1, when there are only one slider item"
I wanna use loop:true with when slider only one here is my code

`
      $("#owl").owlCarousel({
        items : 1,
        loop:true,
        autoplay: true,
      });`

but it's giving me an error that clone not define
How can i do that

Please help

Thanks in  advance

[2016-05-24 05:24] daviddeutsch commented on #1415
(Sorry about the canned reply.)

Please add a link to a page where I can verify this error. You can use a service like [plnkr](https://plnkr.co/), [jsfiddle](http://jsfiddle.net/), [jsbin](http://jsbin.com/) or [codepen](http://codepen.io/).

And make sure you're using the latest Owl Version!

[2016-05-24 05:26] #1357 closed

[2016-05-24 05:39] gyx8899 commented on #654
It looks weird when we set the items: 1 and slide to the last item. @daviddeutsch @claudchan @parhumm @ianhobbs
@james-mountford

Are you agree? And any other solutions?

[2016-05-24 06:39] Nur-jaman commented on #1415
Thank you so much.
yes i am using Owl 2.0.0
i wanna keep loop illusion though there only one slider item.
here how i am init it `  $("#owl").owlCarousel({ items : 1, loop:true, autoplay: true, });`

the error i getting is 'undefined property .clone is undefined '
i used it in my WordPress site. let me extract it and send you in a zip file

Thanks Again

[2016-05-24 08:13] davebat opened #1416 "When stagepadding and rtl applied active classes calculated incorrectly"
If a carousel has stagePadding and rtl applied, then the wrong number of owl items have the active class applied.

[2016-05-24 10:25] McheahR commented on #1094
@daviddeutsch
Checking for both abilities is not working. @IgorCode 's solution seems to work best.

[2016-05-25 01:19] sinyayadynya commented on #1005
@dallanlee: I'm curious to know how do you use Flexbox and to see which result you get with it. I'm trying to make a vertical scroll but still did not got it.

[2016-05-25 03:46] drtobal commented on #376
Same problem here, fixed on `dots: true`

[2016-05-25 03:55] #1071 closed

[2016-05-25 05:01] daviddeutsch commented on #1094
Yup, PR welcome, @IgorCode!

[2016-05-25 05:49] gyx8899 opened #1419 "The responsive function doesn't work when i set with autowidth(true) and loop(false)"
It is ok in owl.carousel.2.0.0-beta.2.4;
JSFiddle Link: https://jsfiddle.net/JSDavi/7z1th3cx/

But it doesn't work in this new version of owl.carousel.2.1.0;
JSFiddle Link: https://jsfiddle.net/JSDavi/rtvc5exr/

Even in owl.carousel.2.1.4, it doesn't work;
JSFiddle Link: https://jsfiddle.net/JSDavi/cotyqt6x/1/

Also in owl.carousel.2.1.5, it doesn't work;
JSFiddle Link: https://jsfiddle.net/JSDavi

[2016-05-25 15:30] Samuel-Weiss commented on #697
the same here. Quick and dirty try change the following line
Owl carousel @version 2.0.0

Line 289:
`delta = this.settings.loop ? clones.length - Math.max(this.settings.items * 2, 4) : 0;`
`delta = this.settings.loop ? clones.length - Math.max(this.settings.items * 2, 18) : 0;`

[2016-05-25 21:05] boudga opened #1420 "Disable random slide display"
I do not see support for the random=false attribute/value in the API. How do I disable the randomization of slides?

[2016-05-26 06:40] CracyCrazz commented on #1391
Fixed with release 2.1.4

[2016-05-26 06:40] #1391 closed

[2016-05-26 16:01] arodger3 commented on #1415
Hi
I have same problem
If I use 2.0.0 version, it says "clone not define"
If I use 2.1.0, there is no errors, but slider doesn't create

[2016-05-27 14:39] ilicmarko commented on #1415
Can you please share your page link or post your code on codepen or jsfiddle because I can't reproduce that problem.

Here is a test:

**Owl Carousel v2.0.0 beta 2.4** *working*
https://jsfiddle.net/wxza0fLw/

**Owl Carousel v2.1.0** *working*
https://jsfiddle.net/0fk258ns/

**Owl Carousel v2.1.4** *working*
Currently using it o na project in development!

Please reply with all needed information

[2016-05-27 17:19] leandroruel commented on #1401
this is not bug in the owl carousel by itself.

[2016-05-27 17:57] leandroruel commented on #1401
http://codepen.io/leandroruel/pen/ZOEbxz

[2016-05-27 18:05] boudga commented on #1254
did you figure out how to stop it from randomizing?

[2016-05-27 18:06] cinghaman commented on #1254
I re uploaded my slides and it worked

[2016-05-27 19:08] flyinbryan125 commented on #768
function Hash.prototype.destroy
change
this.owl.dom.$el.off(handler, this.handlers[handler]);
to
this.core.dom.$el.off(handler, this.handlers[handler]);

Hope this helps someone.

[2016-05-29 09:23] graphefruit opened #1421 "Loop - NgClick not firing (AngularJS)"
Hello OwlCarousel-Team,
when you activate the attribute: `loop:true`
The cloned-elements cant trigger the click-event because its out of the angular-context.

Maybe theres a solution without clone the dom?

If I deactivate the loop everything works fine.
Greetings
Graphefruit

[2016-05-29 18:15] joserprieto opened #1422 "Error on generation of the documentation"
In the generation of the documentation, in _config.json defines:

[code]

In ./OwlCarousel2/docs_src/templates/partials/header.hbs you have:

[code]

If you go to the generated directory OwlCarousel2/docs/, and lauch a webserver (i.e. php -S 127.0.0.1:8081), this didn't work for me.

You have to change the header.hbs to:

[code]

[2016-05-30 06:44] daviddeutsch commented on #1421
The clones are generated on the fly, so it's unlikely that you can target them from the outside.

Would you mind sharing your code (in a jsfiddle or similar)? I'm working on another plugin that targets all items (including clones) and perhaps the solution can be similar.

[2016-05-30 06:58] graphefruit commented on #1421
@daviddeutsch Thanks for your response.
I gonna try to give a sample this week. A bit booked out ;)
Greetings

[2016-05-30 08:07] kitsunde opened #1423 "Plugin example in docs will raise an error."
Because `AutoHeight` should be `PluginName `

[code]

on https://owlcarousel2.github.io/OwlCarousel2/docs/dev-plugin-api.html

[2016-05-31 07:52] dingo-d commented on #293
Same thing happens to me. Any news on a workaround?

[2016-05-31 12:10] microdesign opened #1425 "Class init"
I lost almost half day to understand when I change the default class '.owl-carousel'
it broke almost everything.

How I can have different classes ?

Not only
`<div class="owl-carousel owl-theme">`

but also

`<div class="owl-carousel-something-else ">`

[2016-05-31 12:55] microdesign commented on #1425
Also from this code

`
<script   src="https://code.jquery.com/jquery-1.12.4.min.js"   integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="   crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="assets/owl.carousel.css">

<div class="owl-carousel owl-theme" style="color:black">
    <div class="item"><h4>1</h4></div>
    <div class="item"><h4>2</h4></div>
    <di

[2016-05-31 17:29] nishantdeveloper opened #1426 "Autoplay stops automatically when changing tabs"
I have used to sliders on my home page with different autoplay speeds. However, when i switch tabs and work on some other tabs for a min or two and come back to the main tab having the home page, i find that the autoplay has stopped. Can you please help me with this issue. Thank you in advance.

[2016-06-01 13:48] alantdash opened #1427 "The current live site down"
http://www.owlcarousel.owlgraphic.com/demos/demos.html

Can't be enter, want to know the API how to use.

[2016-06-01 14:11] Krato commented on #1427
Here you go: https://owlcarousel2.github.io/OwlCarousel2/docs/started-welcome.html.

You have the link on readme.

[2016-06-01 19:00] DanJFletcher commented on #1405
@showcasefloyd I'm having the same issue. Where did you download the "latest" version from? I downloaded what's available on the site and there does not seem to be any SASS files.

I'm also wondering what you ended up doing to configure the carousel correctly, as you said `dots:true` does not seem to work... so what _did_ work?

[2016-06-02 05:54] sunilkjt commented on #612
@sonictemplates  thanks for the solution

[2016-06-02 07:26] #1427 closed

[2016-06-02 10:07] Infonautica opened #1428 "Navigation doesn't work."
Simple feature as custom navigation by some reasons doesn't work for me. No any errors or console logs. Event is actually firing, but carousel simply doesn't move. Navigation buttons is outside of #carousel

Here is my js:
`
    $(document).ready(function(){
        var owl = $("#carousel");
        owl.owlCarousel({
            items: 1,
            loop: true,
            dots: false
        });

[2016-06-02 10:25] Infonautica commented on #1428
Additional:
If i'll add navigation button as slide, mean inside carousel, all buttons will be fine, even those outside carousel.

[2016-06-02 10:26] CracyCrazz commented on #1428
(Sorry about the canned reply.)

Please add a link to a page where I can verify this error. You can use a service like [jsfiddle](http://jsfiddle.net/), [plnkr](https://plnkr.co/), [jsbin](http://jsbin.com/) or [codepen](http://codepen.io/).

And make sure you're using the latest Owl Version!

[2016-06-02 10:48] Infonautica commented on #1428
Here is the pen:
http://codepen.io/Infonautica/pen/LZEazV

Carousel code in the end of js

[2016-06-02 13:08] harryfinn commented on #1428
@Infonautica your code seems to work correctly if you add another slide in. Would appear that when there is only one item with `loop: true`, cloned slides are not treated correctly when attempting to trigger a `next` or `prev` action

[2016-06-02 14:26] catalinciupitu commented on #293
The issue seems to be the "items" setting, aka "active" images. The carousel container must be wider enough to display the last active images. I manage to dynamically change this setting and seems to work for me. This is the code I used in my project:

[code]

[2016-06-02 15:51] kddc commented on #1419
+1 on that one

[2016-06-02 17:27] jproffitt3ge commented on #552
The reason this happens is that the function responsible for creating the clones does not take stagePadding into account and creates too few clones in certain cases (specifically where # items <= # items displayed at once). It is still an issue in 2.1.4.

[2016-06-02 17:42] jondaiello commented on #1405
@DanJFletcher You can grab the SCSS files [src/scss folder](https://github.com/OwlCarousel2/OwlCarousel2/tree/develop/src/scss)

In my case, I just added the following to my style sheet
[code]

This is just a rough test to make them visible.

[2016-06-02 18:23] hellor0bot opened #1429 "Wrong behavior in loop mode after last slide"
I think there's something wrong with animation after the last slide has been reached. When you reach the last slide and go back to the first one by clicking "next", carousel "jumps". Example can be found [here](http://minimalissimo.com) - try clicking "next" quickly and the slider will "jump" every three slides.

I also notice weird behavior with active classes: after reaching the last slide, all

[2016-06-02 20:12] showcasefloyd commented on #1405
Sorry, for the late replay. @DanJFletcher, but I also basically did the same thing. I had to download the source files (i'm not event sure which one it was at this point) and compile them myself. I believe the key file I need was this one 'owl.theme.default.scss' once I compiled that the nav started working. The api is incorrect.

Hope this helps.

[2016-06-03 17:11] Blackbaud-JasonRikard opened #1430 "Doesn't support $.noConflict(true)"
Errors out when using noConflict(true) since jQuery is undefined.

https://github.com/OwlCarousel2/OwlCarousel2/blob/2fb731a16dd574937e19c07a92d81b03df5767a1/src/js/owl.carousel.js#L1310

[2016-06-04 12:49] hellor0bot opened #1431 "autoWidth and loop:false - last slide not accessible"
Can't access the last slides whith `autoWidth:true` and `loop:false`.

https://jsfiddle.net/cotyqt6x/3/

Related: #1419.

[2016-06-05 09:22] microdesign commented on #1425
So with two words version 2 suck - I lost me whole day to find that when I add the old version and it run like a rocket .

[2016-06-06 05:47] gtaranti opened #1432 "Adding a function to the `reponsive` option breaks carousel"
Trying to parameterize the `stagePadding` option (version 2.1.4) depending on the window width by adding a function to the `responsive` option, at initialization stage.
Like that :
`responsive: {
    0: {
      stagePadding: function() {
        return Math.round(.15 * $(window).width())
      }
    }, ....(other breakpoints)....`

The problem is that even that `stagePadding` gets the **correct va

[2016-06-06 11:50] cptstarling commented on #850
It has been asked [here](http://stackoverflow.com/questions/30492588/jquery-owl-carousel-animation-for-items-value-2) and [here](http://stackoverflow.com/questions/37583872/owl-carousel-2-fade-effect-not-working), but no one seems to be able to answer this question.

Are you sure this is not a bug?

[2016-06-06 14:48] t3premium commented on #701
This isn't working infinite. Look at this example of owl.carousel 1: http://wpcheatsheet.net/infinite-animated-css-in-owl-carousel/ You had to remove class animated after change but this function is missing in owl.carousel 2: afterMove and beforeMove

[2016-06-06 15:27] florianmatthias opened #1433 "Update to latest version broke Carousel"
I updated from a previous Carousel 2.- version to the latest version and my carousel broke. I updated the js file and the css file, but now the carousel items won't float anymore and are listet underneath each other.

[code]

Also the dots don't appear, and nav is shown. Exactly the opposite to what I'm declaring above.

http://i.imgur.com/XUODJkn.png

[2016-06-06 20:02] #1433 closed

[2016-06-07 13:50] mformanu opened #1434 "Images not visible with column-count (Blink)"
As you can see at http://auszeit-weltweit.de/blog/blog/mariana-in-thailand-und-srilanka (at the end before disqus), the height and width is clearly correct, but the images aren't visible. This affects blink-Browsers, Firefox displays it correctly, I don't know how Safari behaves.

The columns are triggered after a certain wideness, if I minify the window and the columns merge into one, the carouse

[2016-06-07 15:18] Macuzzin opened #1435 "Delay between slide transitions"
Is there a way to set the delay between slide transitions?

Thanks

[2016-06-08 09:30] ermolaevalexey opened #1436 "Please help! Slides don't placing properly!"
I call the plug-in just like in this example: http://owlcarousel2.github.io/OwlCarousel2/demos/basic.html
But it's not working right!

instead of placing items inline, items placing vertically! Right under each other!
It looks like this: https://www.dropbox.com/home?preview=%D0%A1%D0%BD%D0%B8%D0%BC%D0%BE%D0%BA+%D1%8D%D0%BA%D1%80%D0%B0%D0%BD%D0%B0+2016-06-08+%D0%B2+12.26.01.png
And if tying to navi

[2016-06-08 15:33] CracyCrazz commented on #1436
Please add a link to a page where I can verify this error. You can use a service like [jsfiddle](http://jsfiddle.net/), [plnkr](https://plnkr.co/), [jsbin](http://jsbin.com/) or [codepen](http://codepen.io/), as I can't access your image link.

And make sure you're using the latest Owl Version!

[2016-06-08 16:23] CracyCrazz commented on #1432
I have fixed this issue locally. I will push this fix in a few days, once I got a few more hot fixes ready.

[2016-06-08 16:38] CracyCrazz commented on #1435
I might be wrong, but I did not found a yet implemented way to add a delay between slide transitions.

Although, you could add an animation-delay property to the animation class to have an delay between transitions.

[2016-06-08 16:41] CracyCrazz commented on #1434
I have verified this issue (in Safari as well, but with a different behaviour, after the page load the images are not visible, if you navigate to the next image the slides are all visible.

I will look further into this.

Stay tuned.

[2016-06-08 18:21] CracyCrazz commented on #1419
I will look further into this in the next few days.

Stay tuned.

[2016-06-08 18:23] CracyCrazz commented on #1416
(Sorry about the canned reply.)

Please add a link to a page where I can verify this error. You can use a service like [jsfiddle](http://jsfiddle.net/), [plnkr](https://plnkr.co/), [jsbin](http://jsbin.com/) or [codepen](http://codepen.io/).

And make sure you're using the latest Owl Version!

[2016-06-08 19:34] floydh commented on #762
Use this to redraw the images on the carousel's onResized event https://coderwall.com/p/ahazha/force-redraw-on-an-element-jquery

`onResized: function(){
          $(this).find('img').redraw();
 }`

[2016-06-08 20:58] waltercruz opened #1437 "Fouc"
Hi. There's some way to avoid [fouc](https://en.wikipedia.org/wiki/Flash_of_unstyled_content)?

My sample site: http://thaliamaia.com.br/

before owl is fully loaded, it shows all the images of the slider, and I wanna avoid this.

[2016-06-08 21:44] mformanu commented on #1434
Actually this is the behaviour chrome/opera showed before. I think the last updates of blink caused the issue. As I remember the carousel worked without a problem a few months ago while I developed the frontend.

Thanks!

[2016-06-09 06:32] isteven commented on #1414
Tagging @daviddeutsch, hopefully someone can shed a light on this. Thanks :)

[2016-06-10 09:06] farizsofyan opened #1438 "Recalculate / Refresh owl-item width"
hello,

i create to recalculate / refresh owl-item width by triggering refresh event

`$owl = jQuery(".content-slider")
$owl.trigger("refresh.owl.carousel");`

but the event doesnt refresh the width?
does the refresh event really can recalculate the owl-item width?
If not, how to recalculate them?

Thanks in advance

[2016-06-10 12:26] romain-granai opened #1439 "Initialization issue when using another class name."
Working fine :
`<div class="col-sm-12 owl-carousel">`
` <div class="item clearfix">`

`$(".owl-carousel").owlCarousel({`
 ` items: 1,`
 ` loop: true,`
 ` autoplay: true,`
 ` autoplaySpeed: 1000,`
 ` mouseDrag: false `
`});`

Not Working at All:

`<div class="col-sm-12 home-slider">`
` <div class="item clearfix">`

`$(".home-slider").owlCarousel({`
 ` items: 1,`
 ` loop: true,`
 ` autoplay: true,`

[2016-06-10 12:37] romain-granai commented on #1439
Issue founded :

`<div class="col-sm-12 owl-carousel home-slider">`

[code]

Better like this.

[2016-06-10 12:37] #1439 closed

[2016-06-10 14:45] CracyCrazz commented on #1419
I haven't looked into it yet, I will do this in my spare time on the weekend.

I should get this fixed then.

[2016-06-10 16:13] holhel11 opened #1440 "Temporary disable drag?"
Is there any way to disable dragging between cards, for example on a click event and then enable dragging again?

[2016-06-10 19:17] BenevidesLecontes opened #1441 "Bug with Jquery 3.0"
Owl carousel throwing error with jquery 3.0, here's my code.
function mobile() {
        var width = $(window).width();
        if (width > 767) {
            $('.owl-carousel-br').trigger('destroy.owl.carousel').removeClass('owl-carousel owl-loaded');
            $('.carousel-lancamentos, .owl-carousel-regioes').trigger('destroy.owl.carousel').removeClass('owl-carousel owl-loaded');
        } els

[2016-06-11 07:02] chiragrc71 opened #1443 "I need to change the owlcarousel property based on slides"
Like I need to drag the slider if there are more than three slides.
I know the property like mouseDrag: false/True,
But how to apply that on based on slides
Because owl carousel create that structure after the property so how to get the slide count.
Is there anyway to find the solution?

[2016-06-11 14:10] Woodahs opened #1444 "Owl doesn't add 'owl-carousel' to carousel"
Hi!
I've updated my project to owl Carousel 2.1.4 from 2.0.0-beta.2.4 and now my carousels are missing "owl-carousel" class. I'm initiating owl on element like #js-referenceSlider. Previous version's been adding "owl-carousel" to the carousel root element so that CSS rules were applying correctly. Now I have to add "owl-carousel" class to my sliders. Was it done on purpose? Or can I somehow turn o

[2016-06-11 21:47] daviddeutsch commented on #1444
At the rate that this is coming up, I'm starting to think we should add this behavior in. Not sure when it was removed, but it's messing up a ton of upgrades. What do you think, @CracyCrazz?

[2016-06-12 09:34] CracyCrazz commented on #1444
It would definitely be worth to implement it, but why was it removed back then? Had this any purpose?

[2016-06-12 09:36] CracyCrazz commented on #1419
To give you guys an update. I've looked into this further, but I yet can't give you an solution for this problem.

It seems to be an issue with the visibility check of the depending slide.

[2016-06-12 22:14] markosole commented on #663
Hi,

does anyone know how to make pagination to luck like this
<      12/45    >
Arrow left    and arrow right,   in the middle is number of slides and number 12. of 45 slides.
If someone have any idea how to make this, would be great. Thanks

[2016-06-13 05:32] gyx8899 commented on #1419
@CracyCrazz , have you ever compared with "owl.carousel.2.0.0-beta.2.4"?

[2016-06-13 05:35] CracyCrazz commented on #1419
Silly me. I didn't, no.. But I will.. later this day.

I give you an update then.

[2016-06-13 09:20] graphefruit commented on #1421
Hello @daviddeutsch sorry for my long delay...
http://codepen.io/anon/pen/oLxZog

Here's a codepen where you can see the error with loop.
Greetings

[2016-06-13 09:23] Tranxuanvu commented on #1426
The same problem with me, :disappointed:

[2016-06-13 10:39] rtud commented on #1426
Same here

[2016-06-13 12:01] hassandad opened #1445 "Auto play stops when change browser tab"
Referring to this demo http://owlcarousel2.github.io/OwlCarousel2/demos/autoplay.html .

When auto play starts playing, change browser tab and get back. Slider will stop sliding. This seems to me a bug. It should keep sliding continously.

[2016-06-13 14:04] webstersgr opened #1446 "Owl Carousel 2 Url Hash navigation & One Item"
Hello everyone!

I'd like to ask if there is a way to use url hash navigation option along with one item, because I can't manage to make it work....
Here 's a pen with my code
http://codepen.io/VagiaG/pen/XKdaWB

Thanks in advance!!

[2016-06-13 15:40] ohepworthbell commented on #1203
Yes, I am getting this issue too.

It seems that when loop is set to true, Owl Carousel adds in "clone" slides and then mistakenly includes these when calculating the index. I have a carousel with 4 full-width slides. When loop is set to false, the index.count returns 0,1,2,3 (correct) and when loop is set to true, it returns 3,4,5,6,3,4,5,6... etc. (incorrect)

[2016-06-13 15:53] ohepworthbell commented on #1444
@CracyCrazz I am no authority, but as far as I could guess the reason it was removed is to encourage people to include a class that hides the carousel whilst it loads to improve rendering visually for a user.

Older versions of the carousel did not load in gracefully by default, as all carousel content was loaded without any styling and - when jQuery and Owl Carousel had initialised - it was tidie

[2016-06-13 16:29] ohepworthbell commented on #1203
A quick fix for now (that might be worth implementing into the actual Owl Carousel) is:

`var current_slide_in_loop = e.page.index - (e.relatedTarget._clones.length / 2)`

[2016-06-13 23:14] amdad commented on #1378
@daviddeutsch Thanks! Can you add demo with options to docs for this?

[2016-06-14 00:07] harrylove commented on #979
I have nav set to true and the elements appear in the DOM, albeit with a class of "disabled". So as a quick fix while waiting for this issue to be sorted out, I added this to my stylesheet.

[code]

From there you can style the previous and next buttons as you desire.

[2016-06-14 03:33] amdad commented on #532
This works... Thanks @wbervoets. I hope it will be fixed in official release.

[2016-06-14 06:01] coderNik opened #1448 "Add vertical carousel support"
Add vertical carousel support with multiple items support, Its no where available on the internet, this feature could take owl carousel to next level :+1:

[2016-06-15 08:41] CracyCrazz commented on #1419
I've looked further into this, but yet have no clue. The difference between the two versions are kinda huge.

I'am just clueless.

If someone finds an fix for this, feel free to submit a pull request.

[2016-06-16 05:10] gyx8899 commented on #1419
Hi @CracyCrazz @hellor0bot @kddc, i find the difference in my case between version "2.0.0-beta.2.4" and "2.1.X".
**The difference is in the prototype function maximum.**

In my case, i set autoWith-true and loop-false(center default false).

### owl.carousel.2.0.0-beta.2.4

It steps into `else if (!settings.loop && !settings.center)`,
and then `maximum = this._items.length - settings.items;`

In t

[2016-06-16 06:06] CracyCrazz commented on #1419
Thank you @gyx8899. If i change the new code to the old one, it works like a charm.

Now that I got the point where it wents wrong I will take a closer look, and might figure out what is going on.

[2016-06-16 06:26] yunusga commented on #663
You need more conditions

[2016-06-16 06:54] CracyCrazz commented on #1419
I've got a workaround now. I will commit this into a hotfix branch later, and distribute it somewhen on the weekend with a few other fixes.

[2016-06-16 07:07] pszafer opened #1449 "Chrome: -webkit-transform-style, .owl-carousel .owl-item img"
Hello,
Thanks for great plugin!
Yesterday I updated Chromium to version 50.
I think (can't find any proof in google...) that Chromium in some way dropped option '-webkit-transform-style'.

It is always crossed in developer tools:
![zrzut ekranu z 2016-06-16 08-57-49](https://cloud.githubusercontent.com/assets/690510/16107986/8b031ab4-33a0-11e6-84ec-3793387e9fe0.png)

But even so, if it is ticked i

[2016-06-16 07:42] gyx8899 commented on #1419
Hi @CracyCrazz ,

I have tried with this workaround in my demo, and found that it could not step into ``while (coordinate = this.coordinates(i))``.
The value of i inited with '-1',  and then coordinate === 0.
So the  ``(coordinate = this.coordinates(i))`` is false.
The result would be always ``maximum = this._coordinates.length``.

Please have a check about this. Thanks.
[code]

[2016-06-16 08:23] CracyCrazz commented on #1419
Take a look at this fiddle:

https://jsfiddle.net/689q9zLd/5/

For me it is now working, prove me wrong, but I didn't really changed anything just two little things.

[2016-06-16 08:38] gyx8899 commented on #1419
@hellor0bot
I also know this.
There is something we could do in computing the maximum.

[2016-06-16 09:03] gyx8899 commented on #1419
Hi @CracyCrazz @hellor0bot ,

I have tried to replace some code. And it satisfies me, and your advices?

Below is the changes in `else if (settings.autoWidth || settings.merge) {`
[code]

[2016-06-16 09:22] gyx8899 commented on #1419
OK! @hellor0bot

[code]

[2016-06-16 09:42] gyx8899 commented on #1419
@hellor0bot @CracyCrazz
I just test it with my demo page, there should be some other tests.
@CracyCrazz Could you test it from the whole project? And we expect the fixed release. Thanks.

[2016-06-16 10:27] CracyCrazz commented on #1419
I will test this for the whole project, it will be released with a new version 2.2 probably, because there are some general things to discuss about the whole project.

I will release the workaround with the whitespace in the next hotfix, so it will be at least somehow accessible

Tank you @gyx8899  for figuring this out, if you want to create a pull request for this.

[2016-06-16 12:39] gyx8899 commented on #1419
@CracyCrazz
About your JSFiddle demo,

It will be ok, just only change from '>=' to '>' of this below's 'if' condition.
(And sorry, it is my fault.)
[code]
And after modify, this is the new [Fiddle](https://jsfiddle.net/JSDavi/cotyqt6x/6/) which meet you feather.
https://jsfiddle.net/JSDavi/cotyqt6x/6/

[2016-06-16 15:23] Jehu commented on #1139
why is this closed?

[2016-06-16 16:33] arodger3 commented on #990
It doesnt work in beta 4

[2016-06-17 08:35] NPanayotov opened #1451 "if autoplayTimeout < smartSpeed autoplay stops after first slide"
This fiddle speaks for it self.
If you have autoplayTimeout set to a lower value than smartSpeed the slider stops after first slide

https://jsfiddle.net/tLfmho8x/2/

Also it would be great if ticker mode is added. I used to do it before on the old version but now it seems to break the slider if i set the autoplayTimeout to 0

[2016-06-17 08:39] NPanayotov commented on #1448
+1

This feature would be great for a carousel wtih products or in single product page with prodcut image thumbnails. In the past I made a vertical Owl with animate css but it works only on items:1 and animateIn and animateOut can't figure out form wich direction im scrolling. It uses the same animation regardless of slide direction

[2016-06-17 10:35] gyx8899 commented on #1419
Hi @CracyCrazz @hellor0bot ,
I have tried many times, and optimized it with its margin width. You could have a check if you are free.
[code]

[2016-06-17 10:59] gyx8899 commented on #1419
@hellor0bot It works event when you don't set the margin value.
Please check this [JSFiddle](https://jsfiddle.net/JSDavi/cotyqt6x/8/ )

[2016-06-17 12:43] gyx8899 commented on #1419
@hellor0bot
Sorry about this, i fix it with remove if condition of `if (settings.autoWidth)`, and it worked again.
This is the new [JSFiddle](https://jsfiddle.net/JSDavi/cotyqt6x/9/).

[2016-06-17 15:59] matteo-bombelli opened #1452 "npm -> remove .andSelf and substitute with addBack"
i've taken it from *npm* and i found a bug:

I think is due to the npm installing last versions of jquery.

please remove .andSelf (deprecated) and substitute it with addBack

on line 1298 (example) will be
[code]

also on line 1327 and 1331

i've done it and i found no errors.

Thank You!

[2016-06-17 20:03] nebrot commented on #1452
See PR #1442 for jQuery 3.0

[2016-06-18 07:42] CracyCrazz commented on #1419
@gyx8899 I want to merge and commit your changes today. You just edited the maximum function, right? And your latest version can be found in your most recent JSFiddle?

[2016-06-18 12:50] gyx8899 commented on #1419
@CracyCrazz
Yes, i just edited the maximum function, and only in the inner of `else if (settings.autoWidth || settings.merge) {`.
 (In my most recent [JSFiddle](https://jsfiddle.net/JSDavi/cotyqt6x/9/))

Just below :
[code]
I am looking forward this new release.

[2016-06-18 15:29] CracyCrazz commented on #1419
Alright. So far as I've tested it, it seems to be working fine for me. I had to move the var declaration, due to the coding standard, but that's all that needed to be changed.

I will look into a few more issues and see if I can get a quick for some of them.

[2016-06-18 15:31] CracyCrazz commented on #1452
I've committed your changes in the current hotfix branch. This will be released soon.

[2016-06-18 15:35] CracyCrazz commented on #1451
I'm sorry but could you explain what you mean by ticker mode? I'm not into the old owl carousel. Could you provide me with some further information?

I will look into your issue, stay tuned.

[2016-06-18 15:36] CracyCrazz commented on #1441
Will be fixed soon.

[2016-06-18 15:36] #1441 closed

[2016-06-18 15:38] CracyCrazz commented on #1435
I close this one. If you need further help feel free to ask.

[2016-06-18 15:38] #1435 closed

[2016-06-18 15:52] NPanayotov commented on #1451
By ticker mode i mean an non stop quick slider for news bar text or multiplee images sliding all the time like a movie frame

[2016-06-18 15:55] CracyCrazz commented on #1430
(Sorry about the canned reply.)

Please add a link to a page where I can verify this error. You can use a service like [jsfiddle](http://jsfiddle.net/), [plnkr](https://plnkr.co/), [jsbin](http://jsbin.com/) or [codepen](http://codepen.io/).

And make sure you're using the latest Owl Version!

[2016-06-18 15:58] CracyCrazz commented on #1446
I can't access your pen due to the fact that you access your private website that needs an basic auth.

Could you provide me JSFiddle or another CodePen with a working copy?

[2016-06-18 16:13] CracyCrazz commented on #1449
I can actually see the difference.

Please add a link to a page where I can verify this error. You can use a service like [jsfiddle](http://jsfiddle.net/), [plnkr](https://plnkr.co/), [jsbin](http://jsbin.com/) or [codepen](http://codepen.io/).

And make sure you're using the latest Owl Version!

[2016-06-18 16:15] CracyCrazz commented on #1444
We might find another way to get this working, but I will wait for David coming back from vacation to find a solution for this.

[2016-06-18 16:35] CracyCrazz commented on #1452
New version is now available.

[2016-06-18 16:35] #1452 closed

[2016-06-18 16:36] CracyCrazz commented on #1432
Fix is now available in version 2.1.6

[2016-06-18 16:36] #1432 closed

[2016-06-18 16:37] CracyCrazz commented on #1419
The changes are now available in version 2.1.6. I will close this issue. If you notice any errors feel free to submit them.

[2016-06-18 16:37] #1419 closed

[2016-06-18 16:39] CracyCrazz commented on #1139
This issue should be fixed in the version 2.1.6. If you experience any unwanted behaviour, feel free to report it via an issue.

[2016-06-18 16:40] markosole commented on #663
Well I know that, that's so simple to say, and hard to make :) I have to read slide number; number of slides and temp position. Than I will find a way to "push" it to <div> or <span>.
Do You know hot to get these numbers?

[2016-06-18 17:02] pszafer commented on #1449
You can check here - http://velomelon.com/ (development version still, so look only for right sidebar ;) ).
I have version 2.1.4 currently.

[2016-06-19 14:31] Juventino96 commented on #1448
+1

[2016-06-20 08:47] mudittayal21 opened #1453 "This is the code. i have tried it so many times but it is not working!! Please help"
HTML
[asd - Copy.txt](https://github.com/OwlCarousel2/OwlCarousel2/files/323018/asd.-.Copy.txt)

CSS
[owl.carousel.txt](https://github.com/OwlCarousel2/OwlCarousel2/files/323023/owl.carousel.txt)

JS
[owl.carousel.txt](https://github.com/OwlCarousel2/OwlCarousel2/files/323027/owl.carousel.txt)
[jquery-1.9.1.min.txt](https://github.com/OwlCarousel2/OwlCarousel2/files/323031/jquery-1.9.1.min.txt)

i

[2016-06-20 08:48] mudittayal21 commented on #1453
<div class="owl-carousel" id="owldemo">
    <div class="item"><img src=""></div>
    <div class="item"><img src=""></div>
    <div class="item"><img src=""></div>
    <div class="item"><img src=""></div>
    <div class="item"><img src=""></div>
  </div>

[2016-06-20 09:08] ohepworthbell commented on #1444
I guess you could force an `.owlcarousel-legacy` class if no `.owl-carousel` class is detected, and console.log a warning message to update from beta to v2.1, or to remember to include `.owl-carousel` as a class if they are running v2.1? That way, the carousel wouldn't break for older versions, but users could still be encouraged to update and to include the relevant class by default.

[2016-06-20 10:50] crazypsycho commented on #1123
You can try this:

`.owl-carousel .owl-item img {
  -webkit-transform-style: flat;
  -moz-transform-style: flat;
  -ms-transform-style: flat;
  -o-transform-style: flat;
  transform-style: flat;
}`

[2016-06-20 12:43] Shaylen opened #1454 "AutoHeight and resizing"
When autoHeight is set to True, resizing the window should set the new height to the slideshow

[2016-06-20 19:01] Shaylen opened #1455 "Can see next slide while animating"
Hi,

I tried to use animate.css, and sometimes, you can see the next slide already in place during the changing-slide animation. It happens with the next/prev buttons, and the pager.

The problem only occurs on Chrome. I tried on Firefox and IE (edge), they seem to be fine. I didn't investigate very much yet, so I don't have any clue what could cause this.

Here's a placeholder website which shows

[2016-06-21 11:49] wvteijlingen commented on #984
I seem to have the same problem. The carousel slides in the wrong direction when `loop` is enabled, and the total count of items is less than twice of the visible count. Has there been any progress on this?

[2016-06-21 11:49] #1455 closed

[2016-06-21 14:40] senerh opened #1456 "Owl Carousel 2 problem on Chrome"
Hello,

I have to develop a website and I needed to use carousel. As you can see on the picture below owl-carousel-2 works fine on Firefox. However, I have an issue on some other browsers like Chrome.
I have no knowledges on js, but I think it's a js problem due to my using of other js scripts. Can someone help me to solve my problem ?

Here you have how I use the carousel :
<a href="http://www.ho

[2016-06-21 16:04] Hawk30100 opened #1457 "Rewind Speed"
is there any option yet to set the rewindSpeed?
At least it's missing in the doc since version 2.

It seems like the current rewindSpeed is related to the amount of items and the smartSpeed.
That way it takes a very long time when rewinding the slides.

Thanks

[2016-06-21 18:03] Raghuch2415 opened #1458 "Width Issue in Safari"
owl-item have width 0 automatically only at safari.. other browser have the width according to the screen!!.. When i'm try to resize window width issue resolved automatically,
![owl_width_issue](https://cloud.githubusercontent.com/assets/20072656/16240795/6c3bd938-3808-11e6-8d45-690bca3429c9.png)

[2016-06-21 18:27] senerh commented on #1456
I solved the problem:

- First of all, I had the wrong jQuery version (Minumum compatibile jQuery version is 1.8.3 version.)

- Then, I changed the line 118 in owl.carousel.css. I replaced `width: 100%;` by `width: auto;` so the images could be resized properly.

Thank's for this usefull tool :) !

[2016-06-21 18:27] #1456 closed

[2016-06-22 20:32] bobdepalmo opened #1460 "LazyLoad not updating/loading images responsively"
Images are not being loaded if say a browser window is resized and goes from displaying 1 item in the slider to 4. The images only load if the slider is advanced. The lazyLoad plugin should be called if the window is resized. Example attached (start at 1 item and resize to show more)

http://codepen.io/bdepalmo/pen/XKNYxQ

[2016-06-23 16:29] pinkp opened #1461 "URL Hash Navigation - Link to current slide"
My issue is the URLhashListener option only allows you to create a link to a specific slide but does not allow the user to copy the url link from the current slide to share. I would assume the correct behaviour of this option would be the URL updates as the user moves to the next slide so they can then copy that unique URL. http://www.owlcarousel.owlgraphic.com/demos/urlhashnav.html

My OWL code:

[2016-06-23 19:45] Raghuch2415 commented on #1458
Any one can help me....???

[2016-06-24 08:08] CracyCrazz opened #1462 "Owl Nav not working properly"
When there are not enough items to fill the whole owl stage, but loop is true the navigation doesn't show.

Navigation should always show when it's set to true and loop is true as well.

[2016-06-24 08:10] CracyCrazz commented on #1453
(Sorry about the canned reply.)

Please add a link to a page where I can verify this error. You can use a service like [jsfiddle](http://jsfiddle.net/), [plnkr](https://plnkr.co/), [jsbin](http://jsbin.com/) or [codepen](http://codepen.io/).

And make sure you're using the latest Owl Version!

[2016-06-24 08:10] CracyCrazz commented on #1458
(Sorry about the canned reply.)

Please add a link to a page where I can verify this error. You can use a service like [jsfiddle](http://jsfiddle.net/), [plnkr](https://plnkr.co/), [jsbin](http://jsbin.com/) or [codepen](http://codepen.io/).

And make sure you're using the latest Owl Version!

[2016-06-24 08:14] CracyCrazz commented on #1454
(Sorry about the canned reply.)

Please add a link to a page where I can verify this error. You can use a service like [jsfiddle](http://jsfiddle.net/), [plnkr](https://plnkr.co/), [jsbin](http://jsbin.com/) or [codepen](http://codepen.io/).

And make sure you're using the latest Owl Version!

[2016-06-26 21:20] Marcus-E-mode opened #1463 "Bug With Add item on position 0"
Hello,
I have a problem to add item on a position different to the end like 0 or 1.
The content is always added at the end

 owl.trigger('add.owl.carousel', content, position);
 owl.trigger( 'refresh.owl.carousel' );

samething with

 owl.trigger('add.owl.carousel', [content, position]);
 owl.trigger( 'refresh.owl.carousel' );

Thank you.

[2016-06-26 21:37] Marcus-E-mode commented on #1463
owl.trigger('add.owl.carousel', [content, position]);
 owl.trigger( 'refresh.owl.carousel' );

[2016-06-26 21:37] #1463 closed

[2016-06-27 10:29] pinkp commented on #1461
My issue was the version of the JS file, using the version from the main site 2.0.0, meant it wasn't working. I'm now using version 2.1.6 from the github download, which works as expected. Should of checked but didn't think the live version would have this issue.

[2016-06-27 10:29] #1461 closed

[2016-06-27 14:11] bobdepalmo commented on #1460
Resolved this by adding the "refreshed.owl.carousel" event to line 1845 and 1843.

1845: 'initialized.owl.carousel change.owl.carousel refreshed.owl.carousel': $.proxy(function(e) {

1843: if ((e.property && e.property.name == 'position') || e.type == 'initialized' || e.type == 'refreshed') {

[2016-06-27 14:11] #1460 closed

[2016-06-27 20:55] bpdinteractive commented on #1462
I'm experiencing the owl-prev and owl-next buttons showing / hiding on every other slide. That is, every other slide will either show or hide BOTH buttons.

I suppose (with loop: false, anyway) that the first slide should show the owl-next div, slide 2 through N-1 show both divs, and only show owl-prev div on slide N.

[2016-06-28 05:47] dragosmocrii commented on #296
Any news on this? Is this implemented?

[2016-06-28 12:30] aleixfabra opened #1464 "autoplayHoverPause property doesn't reanimate the carousel when mouse leave"
Why carousel does not reanimate when mouse leave?

You can see this behavior here:

https://owlcarousel2.github.io/OwlCarousel2/demos/autoplay.html

[2016-06-28 20:09] tourdefran commented on #1426
Same here...
@nishantdeveloper any workaround?

[2016-06-28 21:27] leadingcode opened #1465 "Not include some files in zip"
Hi,
Please look the owl.caurusel.css in line 177
`background: url("owl.video.play.png") no-repeat;`
but in archive owl.carousel.zip you not include owl.video.play.png

[2016-06-29 05:45] nishantdeveloper commented on #1426
No i did not get any workaround. Still waiting for the solution.

[2016-06-29 06:15] tourdefran commented on #1426
Thanks for your answer. I don't like what they did with Owl Carousel. It used to work fine, but now is very unstable and buggy :/

[2016-06-29 09:39] Mati365 opened #1466 "add support for jquery 3"
it is not working with jquery 3

[2016-06-29 09:44] nebrot commented on #1466
Do you use latest version? Should be fixed in https://github.com/OwlCarousel2/OwlCarousel2/releases/tag/2.1.6

[2016-06-29 10:22] mitkovalkov commented on #45
Hi folks,
When I use more than one owl-carousel with mousewheel options and scroll over one of carousel it's scroll all carosusels. How to fix that?

[2016-06-29 15:18] AlexGidarakos commented on #1426
After some testing, reverting etc, it seems that the last release without this bug is:
https://github.com/OwlCarousel2/OwlCarousel2/releases/tag/2.0.0-beta.3

[2016-06-29 15:19] AlexGidarakos commented on #1445
After some testing, reverting etc, it seems that the last release without this bug is:
https://github.com/OwlCarousel2/OwlCarousel2/releases/tag/2.0.0-beta.3

[2016-06-29 15:34] nishantdeveloper commented on #1426
Ok. Thanks for the support and taking out time.

[2016-06-29 15:46] AlexGidarakos commented on #1426
Happy to help. I hope the project developers manage to fix this bug with a normal release (IDK if it's already fixed on master).

[2016-06-29 18:57] tourdefran commented on #1426
thanks for the support! @AlexGidarakos this version is working like a charm

[2016-06-29 19:04] AlexGidarakos commented on #1426
Surely there must be some bug fixes we are missing by reverting to such an old release. Everyone should thoroughly test it before reverting for good.

[2016-06-30 03:57] Pixelous commented on #1378
Hi @daviddeutsch,

thanks for the linked feature.

Can you please take a look why when using and clicking previous button there is no animation between carousel items? Here is the link http://demo.themeuniverse.net/pear/demo-21/

[2016-06-30 04:12] odahcam commented on #1378
@Pixelous , helo, I'm here to help. I could not found what you syncing your "glasses carousel" with. You have sure you need to use this plugin in this case?

[2016-06-30 04:21] Pixelous commented on #1378
@odahcam I am syncing it with the carousel above where the 'New Sunglasses' text is located.

[2016-06-30 12:32] paradoxicals commented on #1243
@andersonIsaac +1, thanks man worked for me

[2016-06-30 13:19] CracyCrazz commented on #1466
As nebrot stated in the previous comment, it should definitly be fixed in the latest version. Just run a bower update and you should be fine, if not feel free to post a JSFiddle with an example.

[2016-06-30 13:20] CracyCrazz commented on #1453
(Sorry about the canned reply.)

If you still have an issue that you think is due to a bug, please do open a new ticket. When you do, please add a live code example where I can check out your problem. You can use a service like [jsfiddle](http://jsfiddle.net/), [plnkr](https://plnkr.co/), [jsbin](http://jsbin.com/) or [codepen](http://codepen.io/).

(And make sure you're using the latest Owl Versi

[2016-06-30 13:20] #1453 closed

[2016-06-30 13:22] CracyCrazz commented on #1425
I'm sorry but I don't see the problem here yet. If you experience any further issues, feel free to submit a JSFiddle for example.

[2016-06-30 13:22] #1425 closed

[2016-06-30 13:22] CracyCrazz commented on #1407
Done with version 2.1.6.

[2016-06-30 13:22] #1407 closed

[2016-06-30 14:15] microdesign commented on #1425
I show you the code - this code result in BLANK page on my website - there is the problem.

I just switch to the old version without changing any code - and it`s work like a rocket.
That is the problem

[2016-06-30 16:16] Pixelous commented on #1378
@daviddeutsch @odahcam looks this is a bug. You can see exactly the same problem in the jsFiddle demo: http://jsfiddle.net/e3uarr7k/ provided by @jtrolle. click prev button and you will see there is no transition between 1 and 5 slide. This can be seen more clearly when **'items'** option is set to **1**. Please see the demo http://jsfiddle.net/e3uarr7k/12/ Can you please fix this annoying bug ASA

[2016-06-30 16:44] leighfarrell commented on #1407
@CracyCrazz when I bump my version of OwlCarousel to `2.1.6` and do a fresh install with bower, I'm still seeing jQuery `v2.1.1` included in `docs_src/assets/vendors/jquery.min.js`, and therefore still seeing the above noted errors. I'm also unable to find any commit where jQuery has been updated. Can you please confirm?

[2016-06-30 18:48] louiswalch opened #1467 "Lots of problems with Video Plugin"
The Video Plugin seems to be pretty lacking and broken to the point of not being up to the caliber of the rest of this library. I'm running the latest build and experiencing the following:

- Lazy Load does not work to show the image preview. Works with the rest of my carousels but not these slides. I've had to disable lazy loading because of this.
- `onStopVideo` and `onPlayVideo` callbacks are o

[2016-06-30 19:27] Rouche commented on #1203
Fix above does not seem to work with version 2.1.6.

I had to use this formula:
owlEvent.item.index - (owlEvent.relatedTarget.clones().length / 2)

[2016-06-30 19:33] #1243 closed

[2016-07-01 10:19] Mati365 commented on #1466
i'm installing owl.carousel 2.1.4, only this one is available in npm

[2016-07-01 10:40] sanya-arora commented on #189
Is this issue resolved or not yet?

[2016-07-01 14:20] gagan02 opened #1468 "bootstrap modal box when opened showing multiple items in mobile and when rotating mobile it looks fine with single items which is required"
I want to show carousel in lightbox it is looking fine in desktop but when lightbox is opened in mobile it shows multiple items at once whereas I want single item and when rotating the mobile it shows single item which is required. Please help in this.

[2016-07-01 15:23] thomasfrobieter commented on #1401
I can confirm this behavior. Set display:flex & flex-wrap:wrap on a parent div container, owl carousel located inside. If i disable display.flex inside the chrome console, the slider works - without a reload. @pflind did you found any solution to this problem?

[2016-07-01 15:47] thomasfrobieter commented on #1401
Ok, so i was able to fix the issue on my page. I think it´s not really related to the OWL Lib. Try to set flex-shrink:1; and max-width:100%; to all of your flexbox columns. For the moment, this works perfect for me, but i have to test this with other browsers.

[2016-07-01 16:16] pflind commented on #1401
I had to add a `overflow-y: hidden;` on the parent container. It **is** still a bug in OWL and should be fixed. I also have a max-width on my parent container which OWL simply ignores.

[2016-07-02 08:20] wutzelmutz opened #1469 "Calling initializer function"
Hey there,

In the Docs it says after setting up the HTML markup, I need to call the initializer function. I'm trying to implement this plugin into a wordpress site and I'm quite unsure where to put this function. Any help would be much appreciated :)

[2016-07-03 15:51] tomcom2k opened #1470 "Center mode with loop, last item in carousel doesn't get center class applied when going to previous"
3 div's in the carousel. Center mode and loop mode turned on.

Inspect center class all good.  Hit next and it never had an issue.

Hit previous and the last div in the source doesn't get center class applied.

Easy to miss unless you apply scaling to the ".center" item then you get one small one when browsing backwards.

[2016-07-03 22:46] rivarchi9 commented on #162
Hi! The problem has been solved when I deleted the feature `webkit-backface-visibility: hidden;` in file **owl.carousel.css**. And raplace `transform: 'translate3d(' + coordinate + 'px' + ',0px, 0px)'` on `transform: 'translate(' + coordinate + 'px' + ',0px)'` to file **owl.carousel.js**. I think lots of people have problem with it.

[2016-07-04 08:49] s0By commented on #1378
Dealing with thumbs as well and noticed 1 bug in this solution.
Initialized is not being triggered, so when owl carousel is launched "first current" item is not being highlighted.

Another interesting fact that through the callback function it works:

`onInitialized: callback, `

but with 'on' event it doesn't:

[code]

[2016-07-04 11:17] odahcam commented on #1378
`initialized.owl.carousel` event is really not working. I noticed that when I was working on Sync/Link owlCarousel plugins and I forgot to create a issue for this.

I made a pull request for @jtrolle sugestion, as you can check here: [https://github.com/OwlCarousel2/OwlCarousel2/pull/1447](https://github.com/OwlCarousel2/OwlCarousel2/pull/1447)

I'll see what I can do for the initialized error, ma

[2016-07-04 11:27] s0By commented on #1378
I guess we can survive with a function way for now, while this is being fixed.

The other question which is bothering me @odahcam : how to make thumbnails clickable?
Tried your method from sync plugin

[code]

But it's not working properly for me.

[2016-07-04 12:14] odahcam commented on #1378
Yeah, it only works **without**  `loop:true`, in Sync repo we have an issue for this and segestions on how to solve it. I need to make clickable thumbs on `loop:true` too, so we could work together for this.

OwlCarousel can return the internal index of an elem easily, maybe extending the plugin to recognize click on `.owl-item`s isn't a bad ideia, once all events return the index of the current s

[2016-07-04 13:38] presslayouts opened #1471 "How to slider autoplay start and stop on mousehover and mouseleave?"
List of products with slider are available on same slider class, but when i mouse hove in any one li product, then effect only on mouse hover **li** play and stop slider.

Only mouse hover li slider play  and stop.

Html Code

[code]

Slider js code bellow:

[code]

I have use above code but it not working.
Please help me how do it?

[2016-07-04 14:44] odahcam opened #1472 ".on('initialized.owl.carousel') and .on('initialize.owl.carousel') not working"
The 'initialized' event is not being triggered on `.owl-carousel` element.

 - `this.trigger('initialized')` called on carousel startup (`Owl.prototype.initialize`) is working.
 - `this._handlers['initialized.owl.carousel']` (line 1806) is being executed on carousel startup. This is located inside  AutoRefresh Plugin.
[code]
 -  `Owl.prototype.trigger` is receiving the 'initialized' parameter from

[2016-07-04 14:46] odahcam commented on #1378
For `initialized.owl.carousel` or `initialize.owl.carousel` take a look in #1472

[2016-07-04 15:29] xd0 commented on #597
I also have this issue, any news about this bug? @daviddeutsch

[2016-07-04 19:47] odahcam opened #1473 "Mouse Navigation"
With `owl.linked` #1378 Owl users are trying to use the linked feature to make galeries with thumbnail click navigation, using two carousels.

This feature will allow you to Link both the carousels and set the mouse navigation on the thumbnails carousel to create a galllery with thumbnail navigation.

The code is here: https://github.com/odahcam/OwlCarousel2/blob/develop/src/js/owl.mousenav.js

[2016-07-04 19:53] odahcam commented on #1378
@s0By here is your code for click navigation with `loop: true`: https://github.com/OwlCarousel2/OwlCarousel2/issues/1473

I left a link for my code on issue #1473.

[2016-07-05 06:20] Olivier1230865 opened #1474 "owlCarousel don't work on initial load in Internet explorer, but only after a refresh"
Hello there !

I have the OwlCarousel 2.1.0 up and running on a website I need to work on : [http://www.chatsdumonde.com](http://www.chatsdumonde.com)

My issue here is that the multiple owlCarousel (I use them in the "A la une" box, the "Petites annonces chats & chatons" box, in the "Vidéos de chats" box) won't load on the initial load of a page, when I use Internet Explorer.
However, if I hit th

[2016-07-05 07:39] Naphier opened #1475 "With 2 carousels and browser width > 1100 center mode items fail to size properly"
Using OwlCarousel2 2.1.6 and JQuery 3.0.0

If you set up 2 carousels - one with 3 items in the first carousel and the second carousel with 1 item, both carousels in center mode - then the carousels items fail to size correctly when the window is > 1100px. In Chrome dev mode this happens around 620px.

It does not happen when the carousel with multiple items is set items > 3. But does seem to consi

[2016-07-05 13:50] CristyTarantino opened #1476 "How to use owl-carousel in Angular2 with async change ng-content"
Hi,

I am trying to implement owl-carousel into my Angular 2 app.

I followed this example https://plnkr.co/edit/FnZVxB?p=preview and it actually works well with the only problem that my items async change (ng-content async change).

Any help would be really appreciated.
Thank you.

[2016-07-05 20:59] kangaskahn opened #1477 "WordPress Plugin"
I recently made a [WP plugin for Owl carousel](https://github.com/kangaskahn/owl-carousel-plus) I hope to keep up to date. I am not sure how to contact the author since the site is down with no email.

Feel free to help out and submit feature request and ideas!

[2016-07-06 07:40] Naphier commented on #1475
It's definitely the vertical scrollbar. Does not require multiple carousels on a page. Does not require a certain set number of items. All of those were false indicators. It is only the scroll bar. I also downgraded to jQuery 2.2.4 to test and the result is the same. I've tried digging through the code to see how to fix, but I think the issue is that the scrollbar might not be present at the time

[2016-07-06 07:44] Naphier commented on #792
:+1: Thank you! I'm not sure what that line is doing but commenting it out seems to have fixed all of my  ails! Hopefully it doesn't break anything else down the line.

[2016-07-06 07:45] Naphier commented on #1475
after figuring out it was the scrollbar I see there's a workaround for this at #792 . Closing this issue.

[2016-07-06 07:45] #1475 closed

[2016-07-06 14:09] pablo-pacheco commented on #1139
It worked for me. Thanks

[2016-07-06 16:21] stevenbg commented on #130
Since this seems to be main thread for this feature request, can we get "approved for development" on it?

[2016-07-06 18:24] sinyayadynya commented on #1411
I'm having the same issue. Any idea how to fix it?

[2016-07-06 18:34] sinyayadynya commented on #722
Carousel 1 is not looping, that's why I came to Carousel 2.

[2016-07-06 22:44] Naphier opened #1478 "Navigation on nested carousel affects parent (and nested sometimes doesn't render)"
Nest a carousel inside of another and add custom navigation using the available trigger events. The trigger events for the child affects the parent as well as the child.

The native navigation buttons work fine.

Also sometimes this inner carousel doesn't display when returning to it's parent item.

[JSFiddle](https://jsfiddle.net/naplandgames/bt4L584t/3/)

The "goto" buttons for skipping to a spe

[2016-07-07 15:46] pablo-pacheco commented on #1139
Actually it is still weird.
Sometime it works. Sometimes not.

The last item is still going in a new line some times. But even when the last item goes on the right place i can't move to last item

[2016-07-07 16:59] pablo-pacheco commented on #1139
I think I fixed it loading the carousel on window.load, instead of document ready and adding a last fake item on html

[2016-07-07 17:52] janzenz commented on #158
Thanks @wpexplorer but looks like the dots are created per item. I got 12 items and it shows a dot for each item

<img width="426" alt="screen shot 2016-07-08 at 1 51 49 am 1" src="https://cloud.githubusercontent.com/assets/1410147/16663416/95fa950e-44ae-11e6-810b-6e19d19ded51.png">

I also tried putting `dotsEach: false` but it doesn't do anything, the dots still show all the indices.

[2016-07-08 04:35] Naphier opened #1479 "Add option to prevent cloning when loop is enabled"
Oftentimes you may have a carousel with many more items than what will be visible at once. Thus the cloned items are a waste on load time and can adversely affect other APIs.

For example, I was just setting up Youtube's iframe API and banging my head against the wall on why it wasn't replacing the DOM element it was supposed to replace. It was replacing a clone because I had loop on. Now I have t

[2016-07-08 10:47] ross-reid opened #1480 "Autoplay issues"
Hi i think i may have found a bug on the autoplay section i am trying to use this as a sort of gallery page and am adding a slideshow feature using auto play and can get this to stop and start however if i use a next/previous button to move one image then it will begin the slide show/ auto play feature
thanks

[2016-07-09 15:41] MaluNoPeleke opened #1481 "Support for social-feed"
I would like to use it together with https://github.com/pavelk2/social-feed but I cannot make it to work because the page stays empty: http://peleke.diphda.uberspace.de/bower_components/social-feed/owl.html

[2016-07-09 22:24] alexiskattan opened #1482 "where can I find the documentation for the beta?"
Is there documentation available for the beta release?

[2016-07-09 22:29] alexiskattan commented on #1160
@shadox i too am looking for transitionStyle.  Did you find anything?

[2016-07-10 07:39] Naphier commented on #1405
You need to add the 'owl-theme' class to your carousel's container along with the 'owl-carousel' class. It's in the current readme.md, but very easy to overlook.

[2016-07-11 04:13] Naphier commented on #1480
My autoplay just seems to restart on its own even after multiple triggers of stop.owl.autoplay. Looks like I'll have to write my own...

[2016-07-11 07:45] designifyer commented on #538
I had this issue in 2 cases:
1. When I initialize owl carousel on a .owl-carousel class (you should use an id or another class)
`<div class="owl-carousel"></div>`
2. If I use a class of .slide on my items. You should use .item or any other class.
`<div id="some_ID">
<div class="slide"><img src="some_image" alt=""></div>
</div>`
Hope this helps.

[2016-07-11 09:48] ImranBug opened #1483 "Carousel within carousel dots not working properly."
Hi,

I am using an owl carousel within another carousel.
Everything works fine except the navigation dots are acting weird i.e 2nd dot doesn't trigger 2nd slide.

Here is my code:

     $owl1.owlCarousel({
          items: 1,
          dots: true,
          autoplay: true,
          loop: true,
          nav: false,
          touchDrag: false,
          mouseDrag: false,
     });
     $owl2.owlCar

[2016-07-11 13:42] NPanayotov commented on #1471
autoplayHoverPause
Type: Boolean
Default: false

Pause on mouse hover.

[2016-07-11 14:15] rennan opened #1484 "Add specific duration by slide"
I would like to suggest an possible enhancement. Adding specific animation duration in each slide-item. In some cases (like e-commerce banners) would be interesting.

Eg:
[code]

[2016-07-11 18:12] sunfirester commented on #1462
I am seeing the same hiding/showing of the nav text.

[2016-07-12 01:19] jesspritchard commented on #485
Should this release have the fix? https://github.com/OwlCarousel2/OwlCarousel2/releases/tag/2.0.0-beta.3

I have used this version and although it fixes the resize issue, now my carousel is blank?

[2016-07-12 13:39] matteo-bombelli commented on #1452
:+1:

[2016-07-13 15:45] wallacio opened #1485 "theme dots rounded/radius scss variable"
There is a variable in _theme.default.scss to define the radius of the dots:
`$dot-rounded:			30px !default;`
...although this isn't used in _theme.scss (~ line 52).
`.owl-dot span {border-radius: $dot-rounded}`
Took me a while to work out why changing the value had no effect after compiling!

[2016-07-13 16:00] adpauly commented on #1226
Same problem here.

[2016-07-13 16:48] leecollings commented on #687
This still doesn't look like it's been fixed... there must be a better solution than to just hide the dots

[2016-07-14 00:24] kongebra commented on #1405
I have the same problem with the version ( "npm i owl.carousel" ).
My fix is this ( styles "stolen" from previous version ):
`.owl-dots {
    text-align: center;
}
.owl-dot {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 5px 7px;
    filter: Alpha(Opacity=50);
    opacity: 0.5;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    b

[2016-07-14 01:01] jesspritchard opened #1486 "Resize issue after destroy"
Hi All,

I'm having an issue with a carousel that I only want to act as a carousel at a max-width of 767px. Initially I was using beta2.4 downloaded from the main site.

I have code that correctly initialises and destroys however after the carousel has been destroyed I get the following errors over and over again:

Uncaught TypeError: Cannot read property '_onResize' of null
Uncaught TypeError: Ca

[2016-07-14 12:18] shofer4eto commented on #1486
+1
How come such a great plugin was left out without proper support?

[2016-07-14 13:11] NPanayotov commented on #1486
If you post your code or a jsfiddle maybe someone can help you out.

[2016-07-14 13:14] NPanayotov commented on #1482
http://www.owlcarousel.owlgraphic.com/docs/started-welcome.html

[2016-07-14 13:19] NPanayotov commented on #1479
It will be nice to remove the clones because they mess up indexes too. But this means that the loop functionality must be recoded

[2016-07-14 13:50] presslayouts commented on #1471
Thank you for reply,

By default autoplay is stop but when i mouse hover on **li** then autoplay star and when mouse on leave **li** then autopay is stop.

When **autoplayHoverPause** is working only stop autoplay slider.

Please you can help in my requirement.

[2016-07-14 14:19] leecollings commented on #539
So... has this not been fixed? The link to the latest version above no longer works. Bug is still in the current beta version available on the website, and still the carousel doesn't display when only one slide is there.

It should by default at the very least show the slide. It may not be functional, but at least it won't break and not show anything.

Can someone update this thread please?

[2016-07-14 14:26] NPanayotov commented on #1471
$('.product-slider li').on('mouseenter',function(e){
    $(this).closest('.owl-carousel').trigger('play.owl.autoplay');
})

$('.product-slider li').on('mouseleave',function(e){
    $(this).closest('.owl-carousel').trigger('stop.owl.autoplay');
})

[2016-07-14 14:30] kasturichavan opened #1487 "Owl Carousel download does not have files mentioned on the site docs"
Hi,

 I downloaded latest owl Carousel beta2.0.0.0-beta2.4 from http://www.owlcarousel.owlgraphic.com/download/owl.carousel.zip

As mentioned on site: following files should exist in the folder assets
![owlcarouselsitefilesincluded](https://cloud.githubusercontent.com/assets/9099244/16843073/ca0f9160-49ad-11e6-95f8-251bebbc26cd.PNG)

But My downloaded zip only contains
![actualowlcarouseldownloadf

[2016-07-14 14:54] presslayouts commented on #1471
Thank you,

But it not working and i have already added class **owl-carousel** in html structure.

We will use owl carousel js version is Owl Carousel v2.1.6.

what's a problem? or I will some misunderstanding.

We have use bellow code and it working autopay slider, but only first slider slide is pay not second slide pay and after stop. not working continue end slide autopay.
[code]

Please any he

[2016-07-14 15:00] NPanayotov commented on #1471
Try using older version of the plugin. It seems that since the new owner started changing things some of the functions got broken.

[2016-07-14 15:07] presslayouts commented on #1471
Thank you for your good and fast reply,

Please you can tell me which older version use, then your code works fine

Thank.
On 14-Jul-2016 8:31 pm, "NPanayotov" <notifications@github.com> wrote:

[2016-07-14 16:03] NPanayotov commented on #1471
2.0.0

Поздрави,
Николай Панайотов

[2016-07-15 01:07] jesspritchard commented on #1486
Here is a demo of the issue I am experiencing: http://codepen.io/jesspritchard/pen/VjyWkz

[2016-07-15 05:58] virajsoni06 commented on #1140
+1

[2016-07-15 06:50] virajsoni06 opened #1489 "Buggy loop not showing images throughout viewport"
Hi @daviddeutsch, I'm facing a weird bug where when I drag the carousel the first item after the last item is in viewport is not visible. However, it is visible when I drag it a little more or when I use the nav buttons.

Here's a pen with the issue: https://codepen.io/virajsoni/pen/Vjyrvv

Here's a gif of the issue
![image](https://files.slack.com/files-pri/T024FC4EQ-F1RV847FD/owl.gif?pub_secret=

[2016-07-15 07:05] mohsincynexis commented on #825
@aleroy  your solutions is not working for me.
Can you let me know what am doing wrong.` $("a[data-toggle='tab']").on('shown.bs.tab', function(e) {

        $('.slide-carousel').owlCarousel({
            margin: 10,
            nav: false,
            loop: false,
            dots: true,
            responsiveClass: true,
            responsive:
            {
                0:    { items:1 },

[2016-07-15 07:26] presslayouts commented on #1471
I have tried in version 2.0.0 but it not working.

I have attached bellow my example .zip file, please you can check and
resolve issue and after send me this example.

thank in advance.

On Thu, Jul 14, 2016 at 9:33 PM, NPanayotov <notifications@github.com>
wrote:

--
Best Regards,

*PressLayouts.*
*CEO & Co-founder | PressLayouts*
www.presslayouts.com

Skype: presslayouts | Twitter: @presslayouts

[2016-07-15 10:27] Rwthwyn opened #1490 "Smooth autoplay?"
Hi,

I really like Owl Carousel and it is so simple to use. The documentation is easy, even for a relative noob like me to follow.

I was wondering if it was possible to make the carousel run like a marquee? So, that it smoothly flows across the screen. The site I've got it running on is: [http://www.sypo.uk/ebay-stores/lakes-cycles](http://www.sypo.uk/ebay-stores/lakes-cycles)

Any help that anyo

[2016-07-15 12:25] cyberformed commented on #1354
I have given `navText` image as next and previous buttons. but nothing works at all.

[2016-07-15 14:57] CellFishy commented on #1323
Hello,

Did you find anyway to resolve this issue?

[2016-07-15 15:18] Pixelous commented on #1378
Hi, @s0By @odahcam I am not sure can you confirm there is a fix, temporary or not for this bug?

[2016-07-16 08:37] romanlex opened #1491 "Responsive Bug? Get options of last carousel"
Hello, I have many carousels on page.
Init code:
[code]
When I resize window in my main slider, when responsive is not setted and maxItems = 1, I have refreshed owlcarousel with 3 items(
In current page last initializated element with carousel has 3 items.
I found in source this code and see options when window is resized:
[code]
I see current console output:
![screenshot_20160716_113617](https://

[2016-07-16 19:07] 4everyoungz opened #1492 "Custom Dot Navigation - Nesting Divs or SVGs"
Is there a way to nest divs within divs for the owl pagination?

I'm looking to create the image below, but I've noticed two issues. When trying to create custom dots, I can't use SVGs or nest divs within the .owl-dot div. The content will display, but you can't slick the SVG or anything inside a nested div.

<img width="894" alt="screen shot 2016-07-16 at 1 04 44 pm" src="https://cloud.githubuser

[2016-07-16 19:17] odahcam commented on #1378
Temporary you can use:
[code]

This issue stills there, for click navigation you don't need to solve it, and for "current" highlighting you can use `center: true` and highlight the `.owl-item.center` || hightlight the first `.owl-item.active` in standard mode (not centered).

[2016-07-16 20:45] pdoreau commented on #1464
Indeed.
@aleixfabra have you found a workaround ?

[2016-07-17 21:14] mathetos commented on #1113
I'm actually using this version of Owl Carousel in a WordPress plugin and it has an option to open the image in a lightbox (called FooBox) and we're experiencing the same problem, but not reliably.
https://wordpress.org/plugins/foogallery-owl-carousel-template/

Here's examples and issues:
1) [On this site](http://www.emilycolin.com/in-the-works/), you'll see that when navigate through the loop to

[2016-07-17 21:15] mathetos opened #1493 "First image won't load in popup after looping through"
Directly related to #1113

I'm actually using this version of Owl Carousel in a WordPress plugin and it has an option to open the image in a lightbox (called FooBox) and we're experiencing the same problem, but not reliably.
https://wordpress.org/plugins/foogallery-owl-carousel-template/

Here's examples and issues:
1) On this site, you'll see that when navigate through the loop to the first image

[2016-07-18 11:04] amirhsh commented on #239
@alanpilloud Hi
I have same problem in bootstrap tabs. Did you finally solve that problem?
Thanks in advance

[2016-07-18 11:38] amirhsh commented on #239
@witrin @ocvninfo  @dennisreimann
Hi guys.
I have same problem but I couldn't find out what exactly your solution is.
Can you help me ?

[2016-07-18 16:16] aleixfabra commented on #1464
No I don't.

But here is working fine: http://www.owlcarousel.owlgraphic.com/demos/autoplay.html

And I don't know why the last version does not.

[2016-07-18 17:32] apank opened #1494 "When Loop is set to true event.item returns incorrect idx"
Incorrect results when loop is set to true

![screen shot 2016-07-18 at 1 30 07 pm](https://cloud.githubusercontent.com/assets/6688699/16924161/e8c0d74a-4ceb-11e6-8e15-64fc3550b8ba.png)

Correct Results when loop is set to false
![screen shot 2016-07-18 at 1 30 26 pm](https://cloud.githubusercontent.com/assets/6688699/16924182/07068844-4cec-11e6-9ffd-5650cc207344.png)

[2016-07-18 17:36] pdoreau commented on #1464
Yes, there was no issue about this with version 2.0.0-beta.2.4.
Apparently the problem has been introduced in one of the following versions and is still present now.

[2016-07-19 04:25] presslayouts opened #1495 "Trigger not working properly in multiple with nested carousel"
When i mouse hover on **.product-slider li.product** then image slider is start autopay and mouse leave then autoplay stop. This is working fine but effect in both slider **product-slider** and **product image slider**.

We need to only effect autoplay and autoplay stop in **product-image slider** when mouser hover in single product slide.

HTML  code
[code]

Slider js code bellow

[code]
Please h

[2016-07-19 14:39] SpenMillard opened #1496 "Display number of total"
Hi,

How can I display the current and total number of slides i.e. 1 of 5?

Thanks,

Spencer

[2016-07-20 02:41] mathetos commented on #1493
Not sure how, but my first comment above didn't have the relevant live links. I've resolved that now.

[2016-07-20 09:20] chrispcb commented on #1470
Same problem.
And the last item, in Center mode should be in center position like the first item.

[2016-07-20 09:50] candyshien opened #1497 "URLhashListener problem on center: false"
I using URLhashListener: true, disable center: false, when i click on button sample "d", "e", "f", the has not working. But when I enable center: true,  i click on button sample "d", "e", "f", the button work fine.

Anyone know any reason, this my 1st time using this plugin. May need some help.

Example: http://jsfiddle.net/s10bgckL/685/

[2016-07-20 14:22] hariskhan10 opened #1498 "not working with jquery 2.2.4"
hello concerns,

this carousel not working with jquery 2.2.4

[2016-07-20 22:06] CyanoFresh opened #1499 "to.owl.carousel move only to right/left"
Hello. I'm making roulette experiment site and I use your plugin for spinning animation. So can you please add feature to move carousel only right instead of left even it is closer. Because I have a bug with blank space when I move left by event calling

[2016-07-21 06:20] kraymond70 commented on #1466
Hi,
I am using JQuery 3.1.0 and I still have a problem with Owl Carousel.

<img width="1024" alt="capture d ecran 2016-07-21 a 07 19 10" src="https://cloud.githubusercontent.com/assets/1266755/17013009/88d75b7c-4f13-11e6-8e2b-1da1409a8667.png">

[2016-07-21 07:34] amirhsh commented on #239
@witrin @ocvninfo @dennisreimann @alanpilloud
Good news !
I found the solution:

initialize_owl($('#owl1'));

    $('a[href="#book"]').on('shown.bs.tab', function () {
        initialize_owl($('#owl1'));
    }).on('hide.bs.tab', function () {
        destroy_owl($('#owl1'));
    });

    $('a[href="#package"]').on('shown.bs.tab', function () {
        initialize_owl($('#owl2'));
    }).on('hide.bs

[2016-07-21 08:13] YuChester opened #1500 "Not working, active on cloned item."
OwlCarousel not working. It can't slide and only one pic display on screen. The active is on cloned item, and on transform element. That very strange. Welcome to give me some advice, thanks.
following are my html codes.
<div class="owl-stage" style="transition: 1s; width: 10792px;"><div class="owl-item cloned active" style="width: 1349px;">div>
<div class="owl-item cloned" style="width: 1349px;"><

[2016-07-21 13:23] Mati365 commented on #1466
Did you install owl.carousel from npm?

[2016-07-21 14:35] dschu-lab opened #1501 "Broken in jQuery 3.x"
Hey, since .andSelf() is deprecated in jQuery 3, this plugin will stop working with the latest version of jQuery.  https://api.jquery.com/andself/

But there's a simple solution:

Just replace .andSelf() with .addBack() and everything goes back to normal.

I would provide you with a pull request, but I'm in a hurry.

[2016-07-21 14:36] YuChester commented on #1500
I know the reason, JS compression error.

[2016-07-21 14:36] #1500 closed

[2016-07-21 14:54] nebrot commented on #1501
It's already fixed, see #1442
https://github.com/OwlCarousel2/OwlCarousel2/releases/tag/2.1.6

[2016-07-21 16:08] kraymond70 commented on #1466
I installed it from bower.

[2016-07-21 21:03] MukundNadkarni opened #1502 "Theme css file empty in 2.1.0 download"
owl.theme.default.min.css and owl.theme.green.min.css  in the download here : http://owlcarousel2.github.io/OwlCarousel2/ are empty

[2016-07-21 21:52] kprovance opened #1503 "Carousel duplicating single item"
FIrst, here is my JS:

[code]

Here is the issue I've come across:  This is a post slider for a WordPress blog, which obviously displays a carousel of related posts.  The carousel shows the number of items based on the responsive settings above.  With the preview beta version, 2.4 I think it was, if there was only a few posts, the carousel would simply display the one or two posts available.  With

[2016-07-22 05:35] jesspritchard commented on #1486
Anyone?

[2016-07-22 05:49] NPanayotov commented on #1486
The responsiveRefreshRate function is throwing an error. Personaly this is the code i use in this situation

`function initSlider() {
			if ($win.width() < 768) {
				$carousel.addClass('owl-carousel').owlCarousel({
					items: 1,
					stagePadding: 20,
					startPosition: 1,
					responsive: {
						768: {
							onRefreshed: function() {
								$carousel.trigger('destroy.owl.carousel').removeCl

[2016-07-22 06:27] mcauser commented on #1498
Broke bootstrap 3 modals with jQuery 2.2.4

[2016-07-22 06:51] jesspritchard commented on #1486
That works for mobile > desktop, but not desktop < mobile?

Where can I get older version of 2.0.0? The releases page only has beta2.4 which is what I am using... https://github.com/OwlCarousel2/OwlCarousel2/releases

[2016-07-22 07:16] NPanayotov commented on #1486
You can twerk the function to work in your case

Try from here

http://www.owlcarousel.owlgraphic.com/

[2016-07-22 07:58] dschu-lab commented on #1501
Thanks @nebrot !

[2016-07-22 07:58] #1501 closed

[2016-07-22 10:55] CracyCrazz commented on #1502
Just download the latest version here: https://github.com/OwlCarousel2/OwlCarousel2/releases

Or install it via bower.

[2016-07-22 10:55] #1502 closed

[2016-07-22 10:56] CracyCrazz commented on #1498
(Sorry about the canned reply.)

Please add a link to a page where I can verify this error. You can use a service like [jsfiddle](http://jsfiddle.net/), [plnkr](https://plnkr.co/), [jsbin](http://jsbin.com/) or [codepen](http://codepen.io/).

And make sure you're using the latest Owl Version!

[2016-07-22 10:57] CracyCrazz commented on #1503
(Sorry about the canned reply.)

Please add a link to a page where I can verify this error. You can use a service like [jsfiddle](http://jsfiddle.net/), [plnkr](https://plnkr.co/), [jsbin](http://jsbin.com/) or [codepen](http://codepen.io/).

And make sure you're using the latest Owl Version!

[2016-07-22 10:59] CracyCrazz commented on #1499
If I understood correctly you want to disable the navigation to the left?

Could you provide me a JSFiddle or sth. similar where I can verify this issue?

[2016-07-22 11:02] CracyCrazz commented on #1495
(Sorry about the canned reply.)

Please add a link to a page where I can verify this error. You can use a service like [jsfiddle](http://jsfiddle.net/), [plnkr](https://plnkr.co/), [jsbin](http://jsbin.com/) or [codepen](http://codepen.io/).

And make sure you're using the latest Owl Version!

[2016-07-22 11:03] CracyCrazz commented on #1494
(Sorry about the canned reply.)

Please add a link to a page where I can verify this error. You can use a service like [jsfiddle](http://jsfiddle.net/), [plnkr](https://plnkr.co/), [jsbin](http://jsbin.com/) or [codepen](http://codepen.io/).

And make sure you're using the latest Owl Version!

[2016-07-22 11:05] CracyCrazz commented on #1491
(Sorry about the canned reply.)

Please add a link to a page where I can verify this error. You can use a service like [jsfiddle](http://jsfiddle.net/), [plnkr](https://plnkr.co/), [jsbin](http://jsbin.com/) or [codepen](http://codepen.io/).

And make sure you're using the latest Owl Version!

[2016-07-22 11:06] CracyCrazz commented on #1490
Could you explain this a little further?

[2016-07-22 11:08] CracyCrazz commented on #1487
The version you downloaded is outdated. Please use the latest version from this site:

https://github.com/OwlCarousel2/OwlCarousel2/releases

Or install it via bower.

[2016-07-22 11:08] #1487 closed

[2016-07-22 11:12] CracyCrazz commented on #1485
I will take care of that.

[2016-07-22 11:17] CracyCrazz commented on #1483
(Sorry about the canned reply.)

Please add a link to a page where I can verify this error. You can use a service like [jsfiddle](http://jsfiddle.net/), [plnkr](https://plnkr.co/), [jsbin](http://jsbin.com/) or [codepen](http://codepen.io/).

And make sure you're using the latest Owl Version!

[2016-07-22 11:18] #1482 closed

[2016-07-22 11:19] CracyCrazz commented on #1481
(Sorry about the canned reply.)

Please add a link to a page where I can verify this error. You can use a service like [jsfiddle](http://jsfiddle.net/), [plnkr](https://plnkr.co/), [jsbin](http://jsbin.com/) or [codepen](http://codepen.io/).

And make sure you're using the latest Owl Version!

[2016-07-22 11:20] CracyCrazz commented on #1480
(Sorry about the canned reply.)

Please add a link to a page where I can verify this error. You can use a service like [jsfiddle](http://jsfiddle.net/), [plnkr](https://plnkr.co/), [jsbin](http://jsbin.com/) or [codepen](http://codepen.io/).

And make sure you're using the latest Owl Version!

[2016-07-22 11:30] CyanoFresh commented on #1499
Could not repeat issue with blank space on codepen, maybe it depends on layout.
Also, I found some bug: sometimes when I slide left (by mouse) it jumps a lot (3+ items) on fixed carousel width: http://codepen.io/CyanoFresh/pen/OXvGXA
Sliding on right works perfectly.

[2016-07-22 11:31] CyanoFresh commented on #1499
`If I understood correctly you want to disable the navigation to the left?`
Yep, as a parameter for `to.owl.carousel` event, like slideIndex and speed

[2016-07-22 11:32] MaluNoPeleke commented on #1481
Thanks for the reply and sorry for the missing link.
In the meantime I got it working: http://peleke.diphda.uberspace.de/bower_components/social-feed/index.html
The "last" challenge is that I need to find out how to make the boxes swipe horizontally instead of the current solution where you still scroll down and swiping doesn't do anything except looking fancy.

[2016-07-22 11:45] Rwthwyn commented on #1490
Hi CrazyCrazz,

Thanks for your message.

I will try to explain what I'm after in a little more detail. Currently, the carousel pauses briefly when it encounters the edge of a brand logo. But I was wondering if anyone knew a way of making the carousel run without pausing at all.

Does that help?

With kind regards,

Mark

[2016-07-22 11:49] CracyCrazz commented on #1474
I would first suggest you to use the latest version of OwlCarousel, and then submit another followup if the problem persists.

[2016-07-22 16:31] kprovance commented on #1503
Well, it's a WordPress site, it's not something I can simply put on jsfiddle, since it uses WordPress APIs and databases, etc.  The URL is here:  http://www.requitedesigns.com/blog/welcome-requite-designs/ (scroll down to Related Posts).

I pulled the 1.2.6 from the git yesterday before reporting.

Let me see if I can use one of the demos on jsfiddle to recreate.  Will post back.

[2016-07-22 16:31] azharijelek commented on #1333
I have the same issue, any one have fixed this?

[2016-07-22 16:59] kprovance commented on #1503
Okay, here you go.  It ain't pretty, but you can see where the one item is entered multiple times.

https://jsfiddle.net/kprovance/52g5om4b/7/

[2016-07-22 17:01] kprovance commented on #1503
Even if you take the response array out, same thing happens.  Just checked.  https://jsfiddle.net/kprovance/52g5om4b/8/

[2016-07-22 17:13] mszzarei opened #1504 "problem with overflow"
I am using owl carousel 2, I am facing following problem.

I have parent div with a name owl-stage-outer, it has overflow:hidden as per requirement of the carousel.

I have another child div name: ribbon (showing 'New Arrival' and 'Big Sale') which is position: absolute Now the problem which I am facing, on first item of carousel, ribbon is hiding because of overflow: hidden

[2016-07-22 18:27] mokanfar opened #1505 "2 Carousels on same page do not work: (1) Single-slide carousel + (1) Multi-slide carousel"
If I have different sections on my website and want to do in owl carousel2:

2 carousels: 1 single sliding carousel + 1 multi item sliding carousel one of the carousels always ends up broken.

[2016-07-23 13:41] ImranBug commented on #1483
I tried replicating the bug but it works fine in fiddle (https://jsfiddle.net/ezrm30av/) :)
I guess the problem was caused by something else at that time & I didn't even end up using carousel within carousel ....
Thanks for you time any ways.

[2016-07-23 13:41] #1483 closed

[2016-07-24 07:38] CracyCrazz commented on #1505
(Sorry about the canned reply.)

Please add a link to a page where I can verify this error. You can use a service like [jsfiddle](http://jsfiddle.net/), [plnkr](https://plnkr.co/), [jsbin](http://jsbin.com/) or [codepen](http://codepen.io/).

And make sure you're using the latest Owl Version!

[2016-07-24 11:38] kraymond70 commented on #1466
Some updates on this ?

[2016-07-24 22:45] chrispcb commented on #1431
it would be a good feature if it worked.

[2016-07-25 11:05] codeninja93 commented on #1505
it should work fine.
Make sure you are initializing both carousels with different id or class name.

[code]

[2016-07-25 11:38] codeninja93 commented on #1496
May be this can help you

<p data-height="265" data-theme-id="0" data-slug-hash="AXadWQ" data-default-tab="js,result" data-user="codeninja93" data-embed-version="2" class="codepen">See the Pen <a href="http://codepen.io/codeninja93/pen/AXadWQ/">Owl Carousel with slide index</a> by Deep Patel (<a href="http://codepen.io/codeninja93">@codeninja93</a>) on <a href="http://codepen.io">CodePen</a>.</p>

[2016-07-25 12:33] stribJamieHutt commented on #162
@rivarchi9 your solution worked brilliantly. Saved my butt this morning.

[2016-07-25 12:33] creat1vemissy opened #1506 "Can't get autoplay to work"
Good morning!  I cant seem to get my autoplay to work on the carousel.  Can someone help?

hgtc.edu

[2016-07-27 02:44] cblaze22 opened #1507 "Initial Carousel Image Shows, Others Are Blank but still clickable ONLY on mobile browsers"
This works perfectly fine in desktop browsers, even resized to a mobile size.  But on my iPhone Chrome and Safari the image is blank but still clickable.  Below I am showing the second image sliding it and is white.  You can view it on the top of this page, http://basketball.exposureevents.com/youth-basketball-events.  It maybe horizontal in width unless you resize the browser.

![img_7872](https:

[2016-07-27 03:08] #1507 closed

[2016-07-27 10:50] BumbuKhan commented on #448
@aleroy -You awersome dude !!!
`$('.owl-carousel').trigger( 'to.owl.carousel', [n,speed,true] );`

This code works for me

[2016-07-27 11:42] MikPak opened #1508 "Dynamically load videos"
I'm trying dynamically add Owl Carousel videos to my site, but I ran into a problem; Videos appear on the page but when I try to play them console says

    TypeError: video is undefined
    	width = video.width || '100%'

I've tried to follow instructions found on Owl Carousel documentation http://www.owlgraphic.com/owlcarousel/demos/manipulations.html and some posts on StackOverFlow, but can't f

[2016-07-28 00:02] codyme commented on #480
still an issue

[2016-07-28 07:45] e-retailer opened #1509 "Owl Carousel 2.1 and jquery 3 error"
Hello after upgrading owl carousel and jquery i get the following error:
`Uncaught TypeError: $(...).find(...).andSelf is not a function`

How do i fix this?

[2016-07-28 14:07] leecollings commented on #858
Has this been fixed? I'm still getting the same issue in the current beta 2.4 version, and the URL by greg5green is returning a 404.

So right now on pages with just one slide, no slider is showing at all. What's the fix for this, and where can it be downloaded from?

[2016-07-28 14:11] leecollings commented on #1019
It's still not fixed.

[2016-07-28 20:57] TanimMahbub commented on #743
1. download owl-carousel [from here](http://www.owlcarousel.owlgraphic.com/index.html)
2. include owl-css and owl-js in your project

**NOW** you have to do some _custom css_ for owl-Pagination, because owl.carousel.js and owl.carousel.css _don't have_ any design for owl-Pagination (owl-dot), so ... let's see what class does owl-carousel have for owl-Pagination.

there are 2 classes for owl-Pagina

[2016-07-29 15:58] deansimcox commented on #1494
I can confirm this bug exists in v2.1.6

[2016-07-29 16:46] ch1cote commented on #144
Looks like on the stop function is checking to see if the animation is in progress. If it is then it doesn't clear the timeout.

`/**
	 * Stops the autoplay.
	 * @public
	 */
	Autoplay.prototype.stop = function() {
		if (!this._core.is('rotating')) {
			return;
		}

		window.clearTimeout(this._timeout);
		this._core.leave('rotating');
	};`

For my purposes I just commented out the `if` statement a

[2016-08-01 10:29] kikambus opened #1510 "First item doesn't centering"
Hello
Whene slider is load, first item not centered. Whene you make some resize of page, everything goes right.

**Settings:**
`items: 1,
center: true,
autoWidth: true`

autoWidth: true - for a fixed height.

_With the best regards_

[2016-08-01 14:03] jazibobs commented on #1506
To make a carousel play automatically just add: `autoplay : true` as an option.

[2016-08-01 17:09] mrsdohpaz opened #1511 "Navigation disables when item count equals total but center is true."
When you have say, 6 total owl-items, set the items option to 6 and have center option to true, the navigation is disabled. However, since center offsets the items, it should still be able to navigate since in this case, 2 items are out of view.

https://jsfiddle.net/aLos94ba/1/

[2016-08-02 03:34] gregknudsen opened #1512 "Can't get videos to display - SOLVED"
#### My apologies. I am using a theme that is not using the latest version of Owl. Please close this issue.

---

I hit a wall tonight. I just cannot get videos to play or even display.

See this [link](http://stackoverflow.com/questions/26194001/owl-carousel-not-displaying-videos) from StackOverflow. My question would be identical to the OP in that I have copied and pasted the code with no result

[2016-08-02 07:44] MikPak commented on #1508
I got it working by using different approach; dynamically add videos as iframe-embeds.

This is what I got now and everything working. lazyYT is jQuery-plugin for lazy-loading youtube-videos.
https://github.com/tylerpearson/lazyYT

[code]

Just wanted to let you know and maybe its useful for somebody. :)

[2016-08-02 08:01] Vadiazu commented on #835
using owl carousel as widget for magento 2. 0 there for version 2 beta 3.0 css was also changed:
 /* Vertically center items smaller than the stage */
    .owl-carousel .owl-stage {
        display: table;
        .lib-inline-block-space-container();
        .owl-item {
            .lib-inline-block-space-item();
            display: table-cell;
            vertical-align: top;
            float:

[2016-08-02 13:28] mrsdohpaz commented on #1467
I've also came across, if you have loop and infinity on, the video play will not stop the slide loop and therefore you lose the actual playing video from the view.

[2016-08-02 14:59] #1508 closed

[2016-08-03 05:49] jolution opened #1514 "Disable Slider mobile"
good morning, thanks for this nice slider :)
Its looks great on my desktop.
May there is a possibiliy to disable the slider mobile ?
I want to show the Items among themselves. That the user can scroll instead of sliding.
Thanks a lot

[2016-08-03 11:01] volodymyrlut commented on #1509
Same issue.
The reason is that `andSelf` method is deprecated in jQuery 1.8. `andSelf` now is an alias for `addBack`, which should be used with jQuery 1.8 and later, so you can just replace it.
@e-retailer and everybody, to fix this right now, you can rollback your jQuery to 1.7.
I'll try to make plugin compatible with latest version of jQuery this evening.

[2016-08-04 11:29] aihowes commented on #1444
Did some digging and found the the [commit](https://github.com/OwlCarousel2/OwlCarousel2/commit/d33a9ee3b53e87dbf98f53def01342fc50189e33#diff-09e8e94a19a18a4c4155a5385b34ef15) showing this change.

[2016-08-04 14:06] sufiiiyan opened #1515 "OWL center item"
not able to apply dynamic css on run time.
css not working on left side of center item but working correctly on right side ! any idea?
i had seen 'owl-item active center' css class for center item
'owl-item active' css class for right side item
and 'owl-item cloned' css class for left side items
is cloned css class affecting there any idea?

[2016-08-05 14:52] johnrlytle opened #1516 "Owl Controls Missing"
I'm using owl.carousel.2.0.0-beta.2.4.

Owl Controls output is nowhere in my rendered source:

	$('#owl-slider').owlCarousel({
		items:1,
		autoplay:true,
		autoplayHoverPause:true,
		smartSpeed:10,
		dots:true,
		responsiveClass:true,
		responsiveRefreshRate:0,
		animateIn: 'fadeIn',
		**nav: true,**
		navText: ['<i class="fa fa-chevron-left"></i>','<i class="fa fa-chevron-right"></i>'],
	});

[2016-08-07 07:54] guykatz opened #1517 "autoplayHoverPause:true confusing"
Hi;
the common person thinks that if you set autoplayHoverPause:true, then when you hover out the carousel resumes its autoplay feature.
thanks

[2016-08-07 08:12] guykatz opened #1518 "item:1 + animation + autoloop + loop time <1 does not work"
Hi;
the following specific option combination does not work:

[code]

changing some of the values, for example setting autoplayTimeout to a value greater than 1000 works, changing items to 2 works etc. this specific combination together does not work - the animation will animate ONLY the first item and then will not continue (there is html modifications still going on in the background but visuall

[2016-08-07 12:32] guykatz commented on #480
I have noticed that the problem is that the code does not add the 'owl-theme' class to the wrapper div.
if you add it (by code or via your html) the dots and nav will appear
this applies to 2.1.6 which is the only version I use.
thanks

[2016-08-07 14:47] nassif7 commented on #1490
I tink you mean a way to make the carousel moving continually! i have the same issue and it would be great if this can be achieved

[2016-08-08 14:06] matthewcarleton opened #1519 "remove navigation when only one item"
Not sure if this is possible but I'd like to remove the owl-controls if there is only one item.

[2016-08-08 15:05] asipple1 commented on #1519
So I was able to solve this by using the onInitialize event.

 You will first need to determine how many slides are in a carousel.

` var item_count = parseInt($(this).find('.slide').length `);

Second in the owlCarousel
[code]

[2016-08-09 08:27] Luziling commented on #1421
I met this problem too, hope you can give a solution...

[2016-08-09 08:30] graphefruit commented on #1421
@Luziling I removed the looping attribute, so the user need to swipe back himself.

[2016-08-09 08:37] Luziling commented on #1421
@graphefruit I'm considering about this, thanks for your suggestion

[2016-08-09 08:39] graphefruit commented on #1421
@Luziling The other point you could try is to register a swipe left / right event on the page itself and catch the event and redirect to the first or last page.
But that wouldn't look such nicely =(

[2016-08-09 08:46] Luziling commented on #1421
@graphefruit Have you seen [this stackoverflow question](http://stackoverflow.com/questions/34922466/angular-owl-carousel-with-loop-clones-items-out-of-scope) before? Maybe of help but I haven't figured out

[2016-08-09 09:36] martijngastkemper opened #1520 "OwlCarousel 2.1.6 not available on npmjs.com"
2.1.4 is the latest version on npmjs.com. I would like to use 2.1.6 because of the jQuery 3 compatibility fixes.

[2016-08-09 09:58] edanao commented on #122
is there any update on this?
my experience is that the autoHeight does not work well with lazy loading.

[2016-08-09 14:14] Schlammsuhler commented on #663
This should print you the progress instead of dots:
`var owl = $('.owl-carousel');
  owl.on('changed.owl.carousel initialized.owl.carousel', function (e) {
    var index = e.item.index % e.item.count + 1;
    owl.find('.owl-progress').html('<span>' + index + ' / ' + e.item.count);
  });
  owl.owlCarousel({
    dotsClass: 'owl-progress'
  });`

[2016-08-09 14:42] stephan-v opened #1521 "Development"
Is this still in development or what? I am keen to implement this in a huge project but I am unsure since the project development looks stale with the "new owner" stuff and the last update being 2 months ago.

Hopefully somebody can tell me a bit more.

[2016-08-09 15:16] matthewcarleton commented on #1519
Any idea why I get the error "Function statements must have a name."

[2016-08-09 17:47] asipple1 commented on #1519
post your code

[2016-08-09 17:48] PyroSteveJr opened #1522 "Can you center an item on click"
Say you show 5 items and either has 20 in there or infinite loop. If I click on the 5th item (showing 1-5), the 5th item would now be center, showing 3-4-5-6-7?

[2016-08-09 19:00] karneaud commented on #1441
+1 bump

[2016-08-09 22:19] matthewcarleton commented on #1519
Fixed, I didn't place inside OwlCarousel. Thanks!

[2016-08-09 22:19] #1519 closed

[2016-08-09 23:34] despecial commented on #1519
Thanks for the code @asipple1

Any idea why it's still draggable?

`  	onInitialize: function(event) {
    // Check if only one slide in carousel
    if (item_count <= 1) {
        this.settings.loop = false;
        this.settings.dots = false;
        this.settings.mouseDrag = false;
        this.settings.touchDrag = false;
        this.settings.pullDrag = false;
        this.settings.freeDrag =

[2016-08-10 13:11] shtalinberg commented on #376
dots: false
TypeError: Cannot read property 'start' of undefined

[2016-08-10 13:12] shtalinberg commented on #166
dots: false
TypeError: Cannot read property 'start' of undefined,

[2016-08-10 13:47] mformanu commented on #1516
The HTML changed with the last update (even on the demo-pages!) and a wrapping div is gone, which breaks the basic theme. Try my work-around:

[code]

[2016-08-10 17:03] jomokeza commented on #663
@yunusga
autoplayHoverPause don't works for the custom nav buttons in your exemple
any ideas?

[2016-08-10 20:12] asipple1 commented on #1519
Do you know what version of owl you are using? I just did this.settings.mouseDrag = false; and it worked for me.

[2016-08-10 20:16] despecial commented on #1519
The latest: 2.16

[2016-08-10 20:19] asipple1 commented on #1522
have you tried the to-owl-carousel event? http://owlcarousel2.github.io/OwlCarousel2/docs/api-events.html#to-owl-carousel

[2016-08-10 20:22] asipple1 commented on #1519
you should try  a console.log(this.settings). See if you are actually setting mouseDrag = false

[2016-08-11 09:26] maynam26 opened #1523 "move the slide as soon as the video ends"
I have the video in the first slide. i want to move the slide as soon as the video ends. I am not able to do so.  As my video is in the first slide,can we autoplay the video as soon as the page loads.
My owl carousel function
$('.owl-carousel').owlCarousel({
                            items:1,
                            merge:true,
                            loop:true,

[2016-08-11 13:34] MoradHamdy opened #1524 "How to achieve this event idea?"
Hello there,

I want to fire some code when a slide will '_sure_' go to another slide. I mean actually when the slider goes from item 1 to item 2, or from item 1 to any item index.

The **changed** event is fired when the slider ends sliding to another item.
The **translate** event is fired any moment you try to move slider items.
The **translated** event is fired when the slider end translation w

[2016-08-11 17:09] romuloinnocencio commented on #1441
+1 bump

[2016-08-11 17:15] despecial commented on #1464
Please fix/add the resuming for autoplay.

[2016-08-12 03:04] Olivier1230865 commented on #1474
The 2.1.0 is the latest version right ? Because this is the version I am currently using.

[2016-08-12 03:37] Olivier1230865 commented on #1474
I have uploaded the last version 2.1.6 (and minified it), but the problem persists.

[2016-08-12 07:42] pafnuty commented on #929
@superquinho
Try this:
[code]

[2016-08-12 12:10] despecial opened #1525 "Do not fill page if less items available"
Say we have a carousel showing 3 items per page.
There are 4 items available and slideBy is set to 3.
Owl Carousel ignores slideBy and switches to the next page show 3 items (moved only 1 item).

What I try is to switch to the next page but only show the fourth item.

Page 1: [x][x][x]
Page 2: [x][ ][ ]

Is this possible and if so, how can this be achieved?

[2016-08-12 14:07] andview opened #1526 "responsive is not work on mobile device"
Everything is fine when I changing browser width on PC. But on mobile device (android 2.2 chrome & opera; iphone 4s) it's not working.
`<script>
$('.owl-carousel').owlCarousel({
    autoplay:true,
    autoplayTimeout:4000,
    autoplayHoverPause:true,
	loop:true,
    margin:0,
    responsiveClass:true,
    responsive:{
        0:{
            items:1,
            nav:true,
        },
        480:{

[2016-08-12 14:40] despecial commented on #1525
This is my current solution

[code]

[2016-08-12 15:08] andview commented on #1526
am sorry
<meta name="viewport" content="width=device-width, initial-scale=1">
problem solved.

[2016-08-12 15:52] SpenMillard commented on #1496
Hi Deep,

Thanks a million.

I have loaded the script in a .js file, but am getting the following errors. Any idea?

`owl.owlCarousel is not a function. (In 'owl.owlCarousel', 'owl.owlCarousel' is undefined)`

Thanks again,

Sven

[2016-08-12 15:58] Vilz commented on #1471
my workaround

[code]

[2016-08-12 16:02] SpenMillard commented on #1496
Hi again Deep,

This is the carousel I am trying to add it to: [http://tobarchitect.ie/completed/sundays-well/](url)

And the js file: [http://tobarchitect.ie/wp-content/themes/tobarchitect/js/plugins.js](url)

It all seems to be loading ok, only the number is not populating the counter.

Sven

[2016-08-12 16:08] SpenMillard commented on #1496
Oddly, the autoplay seems to be disabled when this script is loaded as well.

Any idea about this? Sorry for all the questions :-)

[2016-08-12 16:37] JezCheese opened #1527 "OWL - are the control dots moveable? (I need some help!)"
Hi all,
I'm new hear, so please be kind!
I just discovered Owl, and I'm trying to use it in a project.
I need to butt a <div> right up against the owl, but the navigation dots are getting in the way
(see: http://cranleighrailway.info/OWL-CAROUSEL/owl.htm)

has anyone written a plugin, to float the dots over the OWL?
Or writtem a different form of navigation, that sits on top of the sliding images?

[2016-08-13 04:33] mikeyaworski commented on #480
Wow. this is still an issue...

Edit: changing `<div class="owl-carousel" ...` to `<div class="owl-carousel owl-theme"...` made it work.

[2016-08-13 10:15] lautaromss commented on #1503
This doesn't look like a bug to me at all. You have the 'loop' option set to true. It is intended purpose that the carousel duplicated all items infinitely to achieve this loop effect.

If you don't want items to be duplicated, desactivate the loop effect and they will not be duplicated. If you want the loop to only be active when you have, say, 4 or more items... well you said you are using WordP

[2016-08-13 10:32] lautaromss commented on #1493
Hi I'm checking your site. If you inspect the HTML, there are some DIVs created by the Owl Carousel with the class "cloned", and this ones are the ones that don't show up in the lightbox.

I THINK that problem is that lightbox is hooking to the images before Owl creates the "cloned" images. So, when the cloned images are created, your lightbox script already executed and will not execute again, le

[2016-08-13 11:58] lautaromss commented on #1527
Hi Jez; you are supoused to style those dots with your own CSS. If you want them to sit on top of the slider the easiest way is to put a negative top margin (e.g. margin-top:-20px;)

If you want to remove the dots and use arrows instead, you should create your own divs for arrows, position them wherever you want (using CSS), give them a class like "next-btn" and "prev-btn" and add this javascript

[2016-08-14 07:40] guykatz commented on #480
I think once I added the 'owl-theme' class to the div it started working.

[2016-08-14 11:45] #1526 closed

[2016-08-14 21:39] bardachev commented on #1471
Confirm that starting autoplay after mouse leave is buggy. It sometimes starts, sometimes don't. When I then swipe to a next slide by hand - autoplay starts again.
I have 1 item on a page.

[2016-08-15 04:15] Tahere-NJ opened #1528 "owl version 2.1.6 has problem with jquery 3.1.0"
Hello everyone
The owl container does not show anything.
This is the error: " TypeError: invalid 'in' operand obj"
and these lines are what I see in the debugger:

isArrayLike()                                     jquery-3.1.0.js:534
.each()                                              jquery-3.1.0.js:365
Owl.prototype.setup()                      owl.carousel.js:506
Owl()

[2016-08-15 06:52] lautaromss opened #1529 "The Double Row Bug (And it's solution!)"
Hi guys, I'm using Owl for a new project and I kept having this bug where the carousel would create two rows of items instead of 1. I was using the autoWidth option, setting my images with a height:200px and a width:auto.

But you see, when putting width:auto in this way the width will almost always end up with decimals, and that's where the problem begins. If the decimal was less that .5, Owl Car

[2016-08-15 12:48] JezCheese commented on #1527
Hi Lautaro,
many thanks, you're an absolute star!
I was trying to push the dots up onto the images, but using a -ve margin and pushing up the panel below, is much easier!
Thanks for thinking roudn teh problem a different way to me.
Cheers
Jez

[2016-08-15 13:45] DimaelVertigo opened #1530 "Responsive demo error"
Hi. On http://www.owlcarousel.owlgraphic.com/demos/responsive.html responsive demo not work third point (dot).

[2016-08-15 13:56] andview commented on #1516
Hi! It's working. Thanks. But I look one problem. I use responsive (five) items, and if visible one of five item displayed all five dots; if visible more than one items dots not all. I'm not programmer, build own portfolio. Please, check here [a-che.net](url)

[2016-08-15 14:25] mformanu commented on #1516
It doesn't work like that. You can see all images in **two** _phases_, so If you would have 8 images and 4 beeing displayed at the same time, you would also see only **2** dots. Look here: http://www.auszeit-weltweit.de/blog/ (8 images, 4 beeing displayed).

[2016-08-15 16:01] forwardandforward opened #1531 "Still maintained?"
Hi, Daivd, Is this project still maintained?

[2016-08-15 18:11] andview commented on #1516
I understand it, but in my case, very necessary that number of dots matches the number of items, if it's possible.

[2016-08-15 18:39] despecial commented on #1516
The dots have the following function: navigate the pages you see.
It's not about items. Even if you change the number of dots to the total number of items, there is no logic behind because navigating won't work if you see 5 items on the same page.

The only way to use it in responsive mode is to set show only 1 item per page.

[2016-08-15 18:44] andview commented on #1516
Thank you

[2016-08-15 23:40] jeffconklin commented on #1531
Was wondering the same thing. Would be nice if it was.

[2016-08-16 04:24] changetherules opened #1532 "Owl Carousel Sync - Infinite Loop"
Hi,

found this carousel on the net but the problem is when you reach the last slide/thumbnail it rewinds back to the first slide/thumbnail, rather than continues looping

http://owlgraphic.com/owlcarousel/demos/sync.html

Is there a way to make it infinite loop? Thanks

[2016-08-16 08:41] Zaanmedia opened #1533 "Responsive mode in Chrome Android / Webapp manifest (BUG)!?"
Hallo all,

I'm not sure if this occurs only with my code / phone but it seems that the responsive mode doesn't seem to work on mobile devices if they save the page/website on their phone. So the people are saving the website/page to their phone and the page will be loaded as webapp icm the manifest file.

If you browse with the chrome browser to the website it is working! Not sure how it's possib

[2016-08-16 12:34] taylankasap commented on #1266
Having an `autoplayClone: true|false` option would be handy for some situations.

For example when using lightbox inside the carousel it clones the "lightboxed" items and this causes lightbox to have 20 images instead of 10 (don't mind the numbers).

Or when using videos (iframes) mixed with images (I didn't test but I'm guessing `video: true` is used if you only have videos). Even if you can use

[2016-08-16 13:09] odahcam commented on #1532
Yes, there is!

First you need to get the [version 2 of OwlCarousel](http://www.owlcarousel.owlgraphic.com/), not the version 1 as you post here.

Then go here: [#1378](https://github.com/OwlCarousel2/OwlCarousel2/issues/1378) and get the code you need to make the **Click Navigation** and **Sync carousels**.

[2016-08-16 14:18] presslayouts commented on #1471
Hi Vilz,

Than you for your reply and it working fine but one issue is remaining.

I have use nested carousal, it means carousal inside carousal, And will use above code in parent any one slide inside child carousal. When i mouse hover on any one parent slide then move both slider parent and child.

Please you can help me, only move child slider not parent slider move.

Thank you in advance !!!

[2016-08-16 16:13] eminos commented on #1473
I can not get this to work.

`$('.slider-configurator').owlCarousel({
            items: 1,
            //dotsData: true,
            linked: '.slider-nav-configurator',
            onRefreshed: function() {
                setTimeout(function(){
                    $('.slider-configurator').css('min-height', $('.slider-configurator').outerHeight());
                }, 2000);
            }

[2016-08-16 17:23] eminos commented on #1532
@odahcam I can't get this to work.
What am I doing wrong?

        $('.slider-configurator').owlCarousel({
            items: 1,
            //dotsData: true,
            linked: '.slider-nav-configurator',
            onRefreshed: function() {
                setTimeout(function(){
                    $('.slider-configurator').css('min-height', $('.slider-configurator').outerHeight());

[2016-08-17 15:35] CracyCrazz commented on #1521
Hey Stephan,

I can speak for David, the answer is yes. It is still maintained, but we are currently working on a plan / milestones for this project, quite big things that need to be planned.

That's all I can tell you at the moment.

[2016-08-17 15:36] CracyCrazz commented on #1531
See #1521

[2016-08-17 15:45] #1531 closed

[2016-08-18 13:52] alysonsm opened #1534 "Owl carousel autoplay direction (going to the wrong direction)"
I am using owl carousel and I believe there are some bugs in "autoplay" parameter. According to the sample below, you will see that the animation is going to the opposite side. But when we resize the window it goes to the right direction. And the dots are working oddly because of that as well.

Anyone can help me to fix that?

Here is the sample working:
https://jsfiddle.net/alysonsm/17xf4Lvw/1/

[2016-08-18 23:00] TheInkblot opened #1535 "Autoplay Not Working"
Hi!

For some reason autoplay is not working for me. The slider is loading up and all the other options are working just fine, but the autoplay doesn't seem to trigger:

$footer_testimonials_slider = $('#footer-testimonials');

	$footer_testimonials_slider.owlCarousel({
	    loop:true,
	    margin:10,
	    nav:true,
	    items:1,
	    autoplay:true
	});

[2016-08-19 11:16] hungchunlin opened #1536 "How to reload OwlCarousel"
When I dynamic change element under .owl-carousel
How to refresh the OwlCarousel ??

[2016-08-19 11:39] despecial commented on #1536
`$('your-selector').trigger('refresh.owl.carousel');`

[2016-08-19 12:06] #1521 closed

[2016-08-19 15:14] alysonsm commented on #1535
Take a look at this working sample:
https://jsfiddle.net/alysonsm/t1Lmoveq/1/

Probably is not working because of ` symbol after owlCarousel function.

[2016-08-19 15:36] TheInkblot commented on #1535
Hi Alysonsm,

Thanks for the reply and for taking a looking at this!

Two things:
1. Can't get your Fiddle example to work
2. There is no ' symbol after the owlCarousel function in my actual code. I think that got added accidentally when I posted in Github.

[2016-08-19 15:47] benjamincombes commented on #1452
Thanks a lot for the fix! However, it looks like last version is still 2.1.4 and not 2.1.6 on npm :
https://www.npmjs.com/package/owl.carousel

[2016-08-19 17:11] alysonsm commented on #1535
I think that might be a jsfiddle issue. Can you try it in firefox?

Thank you,

[2016-08-19 17:17] TheInkblot commented on #1535
Hi Alysonsm,

Thanks for the reply! The jsFiddle is working in Firefox.

I have tried your code on my site and it does not resolve the issue. Same problem unfortunately.

Thanks,
- Marcus

[2016-08-19 17:32] alysonsm commented on #1535
Hi Marcus,

I am experiencing weird issues with autoplay properly as well.  The way that I fix was working with events like
'translated.owl.carousel', 'next.owl.carousel' and 'prev.owl.carousel'. So I implemented a workaround like bellow:
Take a look at his example:
https://jsfiddle.net/alysonsm/17xf4Lvw/3/

[2016-08-19 17:33] alysonsm commented on #1534
The way that I fix was working with events like
'translated.owl.carousel', 'next.owl.carousel' and 'prev.owl.carousel'. So I implemented the workaround bellow:

https://jsfiddle.net/alysonsm/17xf4Lvw/3/

[2016-08-19 18:41] #1527 closed

[2016-08-19 18:42] #1536 closed

[2016-08-19 21:57] johnrlytle commented on #1516
Thanks all. I had actually figured that out right after and added it.

[2016-08-19 21:57] #1516 closed

[2016-08-19 23:14] TheInkblot commented on #1535
Hi Alysonsm,

Thanks! This looks great. Thanks for looking into this for me and putting together this fix. It's actually not working on my end, so I have to assume I have something setup wrong or conflicting with Owl Carousel. I think I am going to just tinker around for awhile and see if I can figure out the issue.

Best,
- Marcus

[2016-08-20 02:00] odahcam commented on #1532
I will take alook on your code, but first take a look on this: https://jsfiddle.net/odahcam/dce7e6ct/

[2016-08-20 04:59] odahcam commented on #1517
`autoplayHoverPause`:
- if **true**: the autoplay will pause when mouse is over the carousel.
- if **false**: the carousel will do nothing about the autoplay when mouse is over the carousel.

[2016-08-20 05:00] odahcam commented on #1515
Can you post an example?

[2016-08-20 10:26] lautaromss commented on #1535
The first jsfiddle that TheInkblot presented works well for me after loading the jQuery resource (because the fiddle is missing the jQuery library?)

[2016-08-20 14:47] eminos commented on #1532
I'm not sure I understand.
If I run `$.fn.owlCarousel.Constructor.Plugins` in the console I get the object and there is a mouseNav function there.

Could the issue have something to do with that I'm loading the carousel items (in both carousels) dynamically, after they are initiated? You can see the vue.js code at the bottom of the html document.

[2016-08-20 15:34] odahcam commented on #1532
The dynamic loading is a interesting point. I need to see if the `owlCarousel.refresh`  forces `owl.mouseNav` to refresh too, maybe this is the problem.

I had some problems with loading the carousel source code and plugins at once, where the plugins where trying to use the `window.owlCarousel` object before it loads 100%.

If you can see in your site the correct plugin funcions on `$.fn.owlCarous

[2016-08-20 17:01] soundsbeard commented on #1121
for some reason the fix provided by @flyrootmedia didn't work for me.
I've got 15+ elements in the slider and after refreshing the page 6 of them (set in reponsive option) loaded but others didn't just like there is nothing to load.
btw I've tried both with <img> and <div> as the element of a slider

but @galatent post was very usefull. it works fine with your fix.
thank you gyus.

[2016-08-22 00:33] Vilz commented on #1471
presslayouts, Hi!

Check that the variables used in each, do not coincide with the variables of parental carousel.

Something like this
[code]
I would need to implement a similar behavior after a while, so I'll check in my project and write, if need be

[2016-08-22 05:58] daviddeutsch opened #1538 "Priorities going forward"
Hey everybody!

So @CracyCrazz and I met last Friday to talk through the current issues and decide a roadmap for the near future.

2017 Update: We've moved discussion over to the proper [ROADMAP TICKET](https://github.com/OwlCarousel2/OwlCarousel2/issues/1756).

# Roadmap
- [ ] 1. Gulp Pipeline

See #1330
- [ ] 2. Generating Documentation

This is part of #1330 - The documentation will need to mov

[2016-08-22 12:04] hoolmberg opened #1539 "Lazy load an extra page"
Hi,

If its not already possible I think it would be useful to be able to load an extra page when using lazyLoad. Swiping wouldn't show empty space before release stop and stagePadding would also show items.

cheers!

[2016-08-23 08:18] ianhobbs commented on #1533
Can you give some techincal details....

[2016-08-23 12:14] presslayouts commented on #1471
Hi Vilz,

Thank you for help and reply.

mainTechnologiesCarousal is undefined variable.

How can use mainTechnologiesCarousal variable.

We are waiting for your reply.
On 22-Aug-2016 6:04 am, "Vilz" <notifications@github.com> wrote:

presslayouts, Hi!

Check that the variables used in each, do not coincide with the variables
of parental carousel.

Something like this

$('.product-slider.owl-carou

[2016-08-23 12:45] webgefest opened #1541 "Bug progress bar after a reboot of the slider"
I do autoplay slider on by click button ( Slideshow ) with the progress bar, which must be disappear off after display of all sliders .
Here is a link that did
[http://jsfiddle.net/webgefest/g3f4qqku/9/](http://jsfiddle.net/webgefest/g3f4qqku/9/)

I have two problems
1) After restarting the slider by pressing the button , slides start to switch faster than the press slider bar.
How can I reset the

[2016-08-23 13:22] Zaanmedia commented on #1533
Hallo ianhobbs,

I have it working right now! Don't know what the problem was i have changed the displaymode a few times and then set it back to fullscreen / portrait. maybe caching problem or i had 2 installs on my phone don't know.

Thanks.

[2016-08-23 15:06] dzulhelmi opened #1542 "Carousel is not display"
No matter what i change, even copy from the demo, the carousel still not display. Look at the page here - http://bit.ly/2bfiMSl

[2016-08-23 15:09] #1542 closed

[2016-08-23 19:31] cschweda commented on #597
Any fix yet?

[2016-08-24 06:22] xApep opened #1543 "To many items?"
Hi,
I don't know if there is to many items or there is something else.

I have this property set:

What happens that on when you resize browser on some resolution the last items gets into a new row, than you have 7 items in 1 row and 1 item in new row.

If I set items to 7 than everything works fine.
Also when I have items 8 and if I set margin to 11 the issue is the same, even on the full width (

[2016-08-24 07:08] eminos commented on #1532
Hi @odahcam! Did you figure out if it's the dynamic loading that's causing the issues with mouseNav?

[2016-08-24 07:59] hoolmberg commented on #1539
I added a multiplier `settings.lazyPages` to the item amount in this line and it works fine to load multiple pages in advance in my project.

`n = (settings.center && Math.ceil(settings.items / 2) || settings.items * settings.lazyPages)`
...
`Lazy.Defaults = {
		lazyLoad: false,
		lazyPages: 1
	};`

[2016-08-24 11:14] danielellm commented on #927
i have the same problem..
any solutions?

[2016-08-24 12:10] CracyCrazz commented on #1543
(Sorry about the canned reply.)

Please add a link to a page where I can verify this error. You can use a service like [jsfiddle](http://jsfiddle.net/), [plnkr](https://plnkr.co/), [jsbin](http://jsbin.com/) or [codepen](http://codepen.io/).

And make sure you're using the latest Owl Version!

[2016-08-24 12:11] EDsolution commented on #1543
Hello. Can I send you the link of dev project on your e-mail? It's not for public jet :)

Thanks.

[2016-08-24 12:13] #1535 closed

[2016-08-24 12:15] CracyCrazz commented on #1534
Your fiddle isn't working at all for me. Seems like you forgot to add jQuery?

[2016-08-24 12:16] #1533 closed

[2016-08-24 12:17] #1530 closed

[2016-08-24 12:18] CracyCrazz commented on #1530
I'm closing this due to the fact that the demo you linked is outdated.

[2016-08-24 12:19] CracyCrazz commented on #1529
We'll probably address this with #1538

[2016-08-24 12:19] #1529 closed

[2016-08-24 12:19] CracyCrazz commented on #1528
We'll look into this with #1538.

[2016-08-24 12:19] #1528 closed

[2016-08-24 12:28] CracyCrazz commented on #1520
@daviddeutsch I don't have yet the access to publish a new version in the npm registry.

[2016-08-24 12:28] #1520 closed

[2016-08-24 12:29] #1517 closed

[2016-08-24 12:34] CracyCrazz commented on #1379
The same functionality was added a hotfix ago.

[2016-08-24 12:34] #1379 closed

[2016-08-24 15:55] Teranode commented on #1413
I get this too. Lets say I set the amount of items to 5, and i currently only have 1-4 items.
It will lazyload the first item fine (1) but anything below 5 and above 1 item will not be loaded.

[2016-08-24 16:51] odahcam commented on #1543
You should recreate your scenario (removing private data) in one of the services listed by @CracyCrazz . Once you do it, more people can help ya.

[2016-08-24 19:31] alysonsm commented on #1534
It doesn't work in chrome but it does in Firefox. Sorry about that.

[2016-08-25 02:09] ianhobbs commented on #1515
too many of these incomplete issues.... conversations dropped. Think they should auto expire..

[2016-08-25 04:01] apur opened #1544 "Items squished on refresh"
I am having issue when on viewport size 1024x768
If I inspect the item element, I see style="width: 5px".

The items are squished on refresh, could you please suggest something to fix?
![squished](https://cloud.githubusercontent.com/assets/8587307/17956329/a35a36dc-6aa6-11e6-8655-55485f44a79d.png)

Following is the html

<div class="owl-carousel completed-project">

                <div class="ite

[2016-08-25 07:22] #1515 closed

[2016-08-25 09:20] bharling opened #1545 "Youtube Embed on HTTPS site not working"
I'm getting a 'generic playback error' when trying to use an embedded video in a gallery served on an https site.

the markup I output for the item concerned is simply:

[code]

Owl renders this as:

`<iframe class="owl-item active center" data-video="https://www.youtube.com/watch?v=iw0O9Gg_NBc" style="width: 483px;" frameborder="0" allowfullscreen="1" title="YouTube video player" width="640" heig

[2016-08-25 13:16] ale-grosselle opened #1546 "On Chrome, calling "update" method, Flash Video into owl-item stop reproducing"
If you add a flash object into an owl-item, for example an swf video player, this css rule
owl-refresh .owl-item {
		display:none;
}

breaks video reproducing; flash stop playing.

See the attach for more details about problem
[UpdateFlashProblem.zip](https://github.com/OwlCarousel2/OwlCarousel2/files/437113/UpdateFlashProblem.zip)

[2016-08-25 13:35] ale-grosselle commented on #1546
PR #1547

[2016-08-25 20:05] odahcam commented on #1532
Not yet.

Is it asking too much for you to create a new issue with your own problem (referencing this #1532) so we can keep this conversation there, cause I think we're spamming this issue with no resolutions for the original question. D:

Future users with `mouseNav` issues will not find the resolution in #1532 easy.
<hr>
I was writing this comment earlier and I forgot to send it, so now I update

[2016-08-25 20:55] eminos commented on #1532
I have updated to mouseNav 1.1.0. Still doesn't work.

[2016-08-25 22:47] odahcam commented on #1532
Seems like your entire "nav" carousel is not working.

[2016-08-26 06:49] namgivu opened #1549 "Owl-carousel stop working when applying dragend()"
When using [dragend()](https://github.com/Stereobit/dragend) to get multiple owl-carousel blocks aligned horizontally and swipe-able, owl-carousel functionality not working for me and dragend()

Have you guys get this issue before and how we would work around for it?

p.s.

I also [asked](https://github.com/Stereobit/dragend/issues/88) dragend() author on this.

[2016-08-26 09:22] eminos commented on #1532
What do you mean it's not working?
It's got the class "owl-loaded", the items got the class "owl-item", all the owlCarousel properties for the nav carousel are read just fine, items: 5, margin: 20, mouseDrag: false...

[2016-08-26 11:21] odahcam commented on #1532
Try to drag the carousel and you will see that the dragging is not working.

[2016-08-26 12:17] eminos commented on #1532
Yes. `mouseDrag: false`

[2016-08-26 14:34] robbeman commented on #1029
small note about using `event.page.index`: this only works if you have dots navigation enabled. If you disable the dots, you'll allways get `-1`

[2016-08-26 15:16] codeninja93 commented on #1496
@SpenMillard

sorry for not replying, was busy ..

did you load jQuery before this script ?

can you post code because link you provided is 404

[2016-08-26 15:39] codeninja93 commented on #1496
@SpenMillard

script loading must be in this order
[code]

and `autoplay: 5000` is to enable auto-play feature replace your time-span with 5000 (miliseconds)

[2016-08-26 21:14] DJMIMi opened #1550 "Last Dot Does Not Get Active Class"
Hi guys

When dots are used and let's say we have 10 items out of which 8 are visible 2 dots will be displayed as it should, but once you click on dot 2 slider is scrolled to display items 9 and 10 but the second dot does not have active class applied to it.

Regards.

[2016-08-27 16:37] bamboorocket commented on #296
Hi, I just implemented this on my site, big thanks.
BUT noted an issue with the settings of:

      slideTransition: 'linear',
      autoplayTimeout: 0,
      autoplaySpeed: 5000

The autoplayHoverPause is not working.
Any ideas how I can get the pause on hover to work again?

[2016-08-28 10:25] eminos commented on #1532
@odahcam, will you try to fix this soon? I will need this working for a project of mine. Otherwise I need to find an other solution (probably thumbnails with `dotData`).

As you can see here, it's not working. `mouseDrag: false` has of course nothing to do with it.
https://www.lintex.se/configurator-dev.html

[2016-08-29 09:50] CarlosSetien34 opened #1551 "autoWidth cuts last item"
I got this problem using autoWidth with images:

I slide to the last element and can see it all, but the moment i release the click button, the carousel just get to the previous active item, and cuts the last image, which i can never reach entirely, and get this:
https://s10.postimg.org/alhfj1lgp/test.jpg

In the autoWidth demo, the loop is used, so this is not a problem, but i would prefer to not

[2016-08-29 14:58] #1551 closed

[2016-08-29 15:19] eparisio commented on #1545
i think you must change `https://www.youtube.com/watch?v={{instance.youtube_id}}` with `https://www.youtube.com/embed/{{instance.youtube_id}}`, because youtube iframe works only with embed version of the url

[2016-08-30 09:47] bharling commented on #1545
ah, thanks I'll give this a try. I think the docs say that the watch url should work though...

[2016-08-30 09:54] eparisio commented on #1545
i've see the code and yes, teorically it should works with watch url also.
probably there is a bug with them, i've used always the embeded and it works fine.

[2016-08-30 19:04] brian1037 opened #1552 "Custom duration per slide"
There doesn't seem to be a supported option in the docs so I'm hoping there's a workaround or something. Is it possible to set a custom slide duration per slide (the amount of time a slide is shown before it slides, not the animation duration)?

Something with data-\* attributes would be great. If not, even an .updateSlideDuration() method I could call programatically after a slide change would be

[2016-08-31 10:06] suckcoder commented on #1525
set slideBy: 1

[2016-08-31 10:17] grundmanise opened #1553 "owl.carousel npm + Meteor.js Error: TypeError: item.find('[data-merge]').andSelf is not a function."
I receive this message when trying to run owl carousel  v.2.1.4 ([installed from npm](https://www.npmjs.com/package/owl.carousel)) in my `Meteor.js` v.1.4.0.1 project:

My code:

[code]

[2016-08-31 14:26] matteo-bombelli commented on #1553
If it is possible llok at this issue:
https://github.com/OwlCarousel2/OwlCarousel2/issues/1452

Substitute addSelf with addBack

[2016-08-31 16:09] scferg opened #1554 "Carousel initializes, but doesn't do anything in Sage"
I'm using Sage and trying to get Owl Carousel working, but have been unsuccessful. I'm fairly new to Sage, so perhaps I'm missing something. I installed Owl Carousel via `bower install --save owl.carousel` and that also installed jQuery as a dependency.

The first issue was that the css and js weren't being included, so I added an override into `bower.json`
[code]
(It feels wrong to include a file

[2016-08-31 16:28] thegreengrass commented on #166
Seeing this too.

[2016-09-01 02:37] esganzerla opened #1555 "Height smaller than the content"
Hi,

I'm experiencing the problem as shown on the image (check the button on the middle box). I checked and the container height is updated to a smaller height than necessary. I tried also to set autoHeight to true.
![screen shot 2016-08-31 at 23 32 09](https://cloud.githubusercontent.com/assets/15572427/18153430/c114e3fc-6fd3-11e6-94a6-b38f3121ee9a.png)

You probably can check this problem at: [w

[2016-09-01 07:57] bharling commented on #1545
Using embed also seems to fail for me - I now get

`src="https://www.youtube.com/embed/https://www.youtube.com/embed/iw0O9Gg_NBc?enablejsapi=1&amp;origin=https%3A%2F%2Fwww.exeterlivingawards.co.uk&amp;widgetid=1"`

when the widget is rendered. I've switched to directly outputting the iframe instead of an <a> tag which seems to work for me, but does not integrate very well with owl.

[2016-09-01 10:52] danielellm commented on #822
for me is not working with the update
still the same problem

<div class="section slide_content" >
      <div class="container container_slide" style="padding:0 55px;width:100%;"><div class="owl_slider" class="owl-carousel"><div class="col-md-12 item" style="width: 100%;height: auto;margin:0 auto;text-align: center;" data-hash="asop1" >
<img src="index.php?rex_media_type=full&rex_media_file=asop01

[2016-09-01 12:02] eli-mar commented on #1520
+1

[2016-09-01 14:25] andym193 opened #1556 "CSS transform translate3d blur issue"
There is a blur problem with the translate 3d, mainly noticeable in the Google Chrome browser. The issue is that some item elements blur if the transform:translate3d values has decimal number instead of a whole number.

For example:
transform: translate3d(-450px, 0px, 0px) - this is okay.
transform: translate3d(-450.5px, 0px, 0px) - this will cause some elements in the owl carousel items to blur b

[2016-09-01 23:02] carlsheehan commented on #929
Thanks @superquinho, I am having the same issue, when I upgraded owlCarousel to 2.1.6..  In my case it errors out on the css data-bind, which is computed.

` <div id="owl-carousel-badges" class="owl-carousel owl-theme" data-bind="owlCarousel: { data: accountBadges}">
        <div class="icon-container">
            <i class="solid-icon" data-bind="css: BadgeIconPrefix"></i>
        </div>
    </di

[2016-09-02 09:36] jpekeene commented on #480
Still an issue @jakeoblivion is right, pasted those into empty css file and all was well again.

[2016-09-02 09:45] rahulbshinde commented on #1394
Same issue found and trying to resolve.

[2016-09-02 09:48] despecial commented on #1394
Here is a temporary fix:

[code]

[2016-09-02 10:13] rahulbshinde commented on #1394
@despecial: Thank you. This work for me.

[2016-09-02 12:00] bakeruk opened #1557 "NPM 2.1.4 > 2.1.6 please =)"
Hi,

Is it possible that you can update the NPM package to 2.1.6 please?

I've noticed a ticket has already been submitted requesting this but it got closed.

Can we leave this ticket open (as a reminder) until it gets done please?

Many thanks,

Luke

P.s. Awesome work keep it up =D

[2016-09-02 17:21] andym193 commented on #1556
I've just downloaded the v2.1.6 master version and it has fixed the problem. I was going to mention there was another problem when scaling up from a small screen to a large screen, but the the 2.1.6 has fixed this too. Great job on this! I've tried a variety of tests on this and it is all working good. When is this going to be released as stable?

[2016-09-02 17:58] thebeardednerd opened #1558 "iphone safari/chrome carousel not working"
On my iphone in both safari and chrome the carousel is not working...
1. Desktop is fine
2. On iphone, the dots work as expected, but the other information within the slide is not working (background image and text are not changing)

Here is my JS

Here is my HTML structure

[code]

[2016-09-02 23:03] esganzerla commented on #1555
Sorry, updated here from the github source and it works fine.

[2016-09-02 23:03] #1555 closed

[2016-09-03 15:30] djpate commented on #1558
Same here. Responsive work on desktop browser but nothing on the iphone

[2016-09-03 15:38] thebeardednerd commented on #1558
Figured it out. It was actually the version of jquery that I was using. This does not work with 1.8.2

[2016-09-03 15:38] #1558 closed

[2016-09-03 22:24] adriaanzon commented on #1557
Until it's updated on NPM you can run `npm install OwlCarousel2/OwlCarousel2` and it will install directly from github.

[2016-09-05 10:55] tbb2 opened #1559 "Responsive - drags can't change between breakpoints"
mouseDrag, touchDrag and pullDrag are not working in responsive mode. In the below example, if you load the website in the largest breakpoint, drag is not enabled when you go to the lower breakpoint.

$(".owl-carousel").owlCarousel({
    responsive:{
        0:{
            items:1,
            nav:true,
            mouseDrag:true,
            touchDrag:true,
            pullDrag:true
        },

[2016-09-05 19:02] cinghaman opened #1560 "Single Item issue, with latest dev version"
Hi, I tried version from 2.0.0 to 2.1.6 and none solves the issue of single item + autoplay
I tried doing this, if i use 2.0.0 version with initialize.owl it atleast runs the code and does't break page, but shows console error at testi.settings.loop  TypeError: Cannot set property 'loop' of undefined
 may be i am initialising it wrong? but when i use 2.1.6 it totally breaks shows a huge width on t

[2016-09-05 23:07] vdswouter commented on #842
I know it is not pretty,
but this worked for me to force a recalculation
[code]

[2016-09-06 06:49] cyberformed opened #1561 "Hide owl-prev on page load"
How to hide owl-prev on page load. I have used the initialized.owl.carousel but, this code block does not hide the previous navigation on page load. Does anyone have any idea. I am putting the entire code block here.

[code]

[2016-09-06 06:54] cyberformed commented on #1561
Everything worked for me, except the previous navigation is not hiding on page load.

[2016-09-06 07:55] despecial commented on #1561
This worked for me if you load the carousel on item 1:

On the carousel init:```

		navClass: [
			"owl-prev hidden",
			"owl-next"
		],
[code]
	your_carousel.on('initialized.owl.carousel changed.owl.carousel refreshed.owl.carousel', function (event) {
		if (!event.namespace) return;
		var carousel = event.relatedTarget,
			 element = event.target,
			 current = carousel.current();
		$('.owl-next'

[2016-09-06 09:42] MrCroft opened #1562 "Responsive breakpoints - not using window.innerWidth, therefore we can't target resolution. They should act the same as css media queries."
I've noticed that, for example, if i set `1366: { items: 5 }`, but I have a scrollbar (because the content is taller than the viewport in most cases, of course) owlCarousel doesn't show 5 items when the viewport (window.innerWidth) is 1366, but rather when the `body` reaches `1366` (or whatever container is the carousel wrapped in).

That's not the width it should be looking for.
If we want to set

[2016-09-06 11:16] MrCroft commented on #326
:( I know this is a very old issue, but I've just opened a new one for the exact opposite effect.
#1562
If you read it, you will understand that the behavior you mentioned above shouldn't be the desired behavior.
If I want to set a number of items for a certain resolution, I don't care about the space available to the carousel (because that is known to us), I actually care about the screen size. F

[2016-09-06 12:15] MrCroft commented on #1562
Oh no... I feel like suck a newb :))
I had responsiveBaseElement: set to the div the carousel is wrapped in, but completely forgot about that.
Sorry :) I'll just close this.

[2016-09-06 12:15] #1562 closed

[2016-09-07 00:34] KitKat777 commented on #1545
Youtube discontinued object/embed with the last release 8/11. Only iframe now.

[2016-09-07 10:00] joaoalves89 commented on #1472
Any news on this one?

[2016-09-07 20:45] ezequielalba commented on #1486
I have the same Issue, but instead of OnResize, had the _CheckVisible error on the console.

[2016-09-08 06:30] cyberformed commented on #1561
Somehow I have found to sort this mess out, but it's not working.
[code]

[2016-09-08 08:21] FakeHeal commented on #1295
I stumbled upon this issue as well. I'm using `owl.carousel-2.1.6`.
Indeed in the demo it's not working, but in the demo from the previous owner: http://www.owlcarousel.owlgraphic.com/demos/responsive.html it is working properly.

If you open the unminified version of the owl.carousel (from this repository) you can find in line:

`this.$element.attr('class',this.$element.attr('class').replace(new

[2016-09-08 10:19] BearsTheme commented on #392
You can use this lib (http://plugin.bearsthemes.com/jquery/OwlFilter) hope it can help you.

[2016-09-08 11:23] despecial commented on #1561
Are your next and previous classes set as .next2 .prev2 or do you use the default ones? (.owl-next, owl-prev)

[2016-09-08 14:32] matrixltd opened #1563 "Merge Issue without Loop"
Hi, I am having an issue with merging where loop is set to false.

 I have a carousel that on desktop shows four items, the middle one is merged to two items (so 1st item, 2nd 'double' item, 3rd item). Then on ipad it shows 3 items (the 1st item, and the second 'double' item), but the slider will not slide, so the third item is hidden. You can drag the slider across and see a bit of the third item

[2016-09-08 15:11] matrixltd commented on #1563
Here's an example, you can't see the last slide: https://jsfiddle.net/matrixltd/qf4ewjak/

[2016-09-09 08:18] matrixltd commented on #1563
This is the closest I have gotten: https://jsfiddle.net/matrixltd/qf4ewjak/2/

The third slide is available, but not the slider scrollers too far, showing blank space on the right.

[2016-09-10 19:43] dmagician opened #1564 "critical bug in every version of owl.carousel.min.js"
I hope this is not a false alarm but I have tested heavily before I found out that non minified version works correctly.

**Every distribution of Owl Carousel 2 has bug in minified version causing "destroy.owl.carousel" not to work properly which causes TypeError: this.e is null error.**

This glitch caused 4 hours of my life go away in desperate search for solution through github isssue reports a

[2016-09-12 14:57] winnienyc123 commented on #1552
try autoplayTimeout in options

[2016-09-12 15:19] odahcam commented on #278
#1378

[2016-09-15 07:57] mvaneijgen opened #1565 "When using data-hash the slide where is being navigated to will be blank."
When using the slider with the normal navigate buttons everything is fine, but when using the 'data-hash' function navigating to the slide using for example `<a href="#slide8">my slide</a>` the slide will be completely blank (resizing the browser will make it appear again).

What version is the best to use when wanting to use the `data-hash` feature or what is the best way to get it to work like e

[2016-09-15 18:37] dryoma commented on #984
I confirm this bug. [This pen](http://codepen.io/anon/pen/ORNqyR) demonstrates it. The conditions are exactly these:

E.g., with 10 total items and this:
[code]
the click on "next" will scroll the carousel 4 (`10-6`) items backwards instead of 6 items forwards.

[2016-09-16 07:02] dryoma commented on #984
I found the reason for that and a way to fix.

The reason seems to be [this check](https://github.com/OwlCarousel2/OwlCarousel2/blob/develop/src/js/owl.carousel.js#L1190) in `Owl.prototype.to` method:
[code]
i.e., if 'loop' is 'true', and 'rewind' is 'false' it specifically makes the carousel to go the other direction. I'm having a bit of a hard time figuring out the logic behind that (and would b

[2016-09-16 09:37] dryoma commented on #984
The reason seems to be [this check](https://github.com/OwlCarousel2/OwlCarousel2/blob/develop/src/js/owl.carousel.js#L1190) in `Owl.prototype.to` method:
[code]
i.e., for `loop: true`, if `rewind` is `false` and we need to scroll more than `items / 2`, it specifically makes the carousel to go the other direction. So bacically, if there is no `rewind` with `loop`, the direction will be messed, if t

[2016-09-18 01:06] mpash commented on #1509
It's been well over a month since you said this would be fixed.

[2016-09-18 01:11] volodymyrlut commented on #1509
@mpash @e-retailer
Sorry, guys, completely forgot about it, I'll open PR with fixed code tomorrow.
Thank you for the reminder.

As a workaround for now (and actually this was the one I'll use in PR) you can find and replace andSelf to addBack through the source code of owl-carousel.

[2016-09-18 01:17] volodymyrlut commented on #1509
@mpash @e-retailer
Well, looks like my job is done:

It's fixed in #1442

This issue should be closed for now, because the problem is solved and even merged, so here is [the release](https://github.com/OwlCarousel2/OwlCarousel2/releases/tag/2.1.6) with this solution by @nebrot.

[2016-09-18 01:18] mpash opened #1566 "Abandonware"
I would appreciate some movement on this package.
- It's been weeks since the last update.
- There are hundreds of unmanaged issues.
- 48 Pull requests have had no responses.

[2016-09-18 01:21] mpash commented on #1509
It's full blown abandonware. I appreciate you taking the time to look into the issues, but David (@daviddeutsch) has apparently taken some mental health break for several months now and there has been no movement on the package.

[2016-09-18 13:06] rdeelstra commented on #1566
I think the new guy (David) has health problems, not sure, when I visit his website:
http://valanx.org/

[2016-09-18 16:04] olegblud opened #1567 "dotText option"
We realy need option **navText**, like **dotText**.
It's nessesary, when developer wants to add _svg_ or _img_ to a dot, or any other structure.

[2016-09-18 21:09] mpash commented on #1566
I 100% respect that, but we must also get this package moving again. I'm not trying to step forward as the maintainer, but we as a community need to step up and decide the future of this package, otherwise the possible adoption rate of this package will slowly decline. I'll see if he has a twitter or an e-mail to reach out to him at and see if there is anything we can do to take this burden away f

[2016-09-20 10:50] ianhobbs commented on #1151
Maybe something like the medium blurry low res preload?
Think that can be done in a container with image switch.

[2016-09-20 18:49] Skorogovorochka opened #1568 "Can't add 5 items at one time correctly"
I add items to my carousel by ajax in this code:

`jQuery(document).ready(function() {

[code]

  });
});`
So I retrive 1 product from BD by zhan_load_frames function and add it as 1 item to the carousel by one right arrow click. It is added and slided correctly.
But I need to add and slide 5 items by 1 click.
So I add the code:

`slideBy:5;`

and change the WP_Query arguments in zhan_load_frames

[2016-09-21 18:29] mpash commented on #1566
He doesn't have a twitter that I could find but I did e-mail the address listed on his website.

[2016-09-22 06:08] daviddeutsch commented on #1566
I inherited this repo with over 500 issues filed and for a while, Pascal and myself have put a lot of effort into at least staying the course. While that was going on, we did a major systems analysis to find the root causes to most of the problems and things people happen to run into so that we can stop new issues from popping up. That was a month ago and we were delayed in getting to work on thos

[2016-09-22 06:08] #1566 closed

[2016-09-22 09:18] YellowSmiley commented on #293
I found adding fixed it for me:

[code]

[2016-09-22 21:07] joschavdlinden commented on #846
@daviddeutsch By when will be a solution available?

[2016-09-23 09:23] caseydev opened #1569 "Animation for multiple item slide"
Is there any feature about animation on multiple slide item? I have tried its fine on single slide but not working on multiple item slide.

[2016-09-24 21:46] tanmuhittin commented on #538
`$(window).load` works for me too

[2016-09-25 07:15] alexqwert commented on #1448
+1

[2016-09-26 02:01] mpash commented on #1566
@daviddeutsch It was like pulling teeth to get a response from you. If you don't have the time to maintain a popular package then you're going to encounter e-mails from your users asking why your software doesn't work. It took a basic whois report on your website and one e-mail later you're responding to your users. I consider that a success, not being weird. You're welcome OwlCarousel users!

[2016-09-26 18:13] bitemyapp commented on #1566
@mpash this isn't League of Legends customer support. You are not @daviddeutsch's customer, you use something he maintains for free on a professional network for programmers.

Do you want a thread where you're being entitled and difficult on the same account employers check? Further, being difficult isn't going to incentivize anyone to fix anything you care about.

[2016-09-26 18:47] mpash commented on #1566
@bitemyapp You're right. I'll just use another library that is maintained better.

[2016-09-27 23:47] nroyall commented on #697
Also noticing this issue, with autoplay set to the default setting (false) and autoWidth:true, loop:**false**.

[2016-09-28 01:40] beymat opened #1570 "Owl Carousel Width Is Calculated Wrong In 1920×1080 Resolution"
Hi. I use this plugin : https://wordpress.org/plugins/product-carousel-slider-for-woocommerce/ for my woocommer in wordpress. That plugin is based on owl carousel.

Please take a look here : http://www.musclegears.net/2016991/

This plugin had a conflict with my theme. In 1366×768 resolution, the slider fit perfectly. But in larger resolution, it’s broken.

So, what code to fix this ?

You can tes

[2016-09-28 07:41] ankurj-itsoft opened #1571 "How can i use loader?"
Please suggest how can i use the loader image for the slower connections,
where is the path to change the image.
It will be much better if you can put the things on demo or in options about it.

[2016-09-28 08:50] TheMysticMan opened #1572 "Owl carousel crashes with 1 image"
Great work, Thanks.

I found 1 issue.
When you only have one image it crashes and doesn't show anything.